:host {
	display: flex;
}

:host(:not([display])) {
	display: none;
}

:host([type="input"])>smoothly-button>button {
	filter: opacity(60%);
	--smoothly-button-foreground: var(--smoothly-input-foreground);
	background-color: transparent;
	
}

:host([type="input"]):hover>smoothly-button>button {
	cursor: pointer;
	filter: opacity(100%);
	background-color: transparent;
}

:host::slotted(smoothly-button button > * > * + smoothly-icon) {
	display: none;
}

:host([disabled]) {
	cursor: not-allowed
}
