@import "../../button/style.css";

:host(:not([display])) {
	display: none;
}

:host() {
	transition: 0.6s;
	min-width: 0rem;
}

:host([type="input"]) {
	line-height: 1;
}

:host([type="input"]) ::slotted(smoothly-icon) {
	filter: opacity(60%);
	font-size: 70%;
}

:host([type="input"]):hover ::slotted(smoothly-icon) {
	cursor: pointer;
	filter: opacity(100%);
}

:host([type="input"]) > button {
 	min-width: 0rem; 
}
:host smoothly-icon.default {
	transform: translateY(-.1em)  scaleX(-1) ;
}
:host::slotted(button > * > * + smoothly-icon) {
	display: none;
}
