:host {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
	width: 100%;
	border-bottom: 2px solid black;
	--highlight-color: black;
}
.mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--highlight-color);
	opacity: 0.3;
}
:host:not(.dragging) .mask {
	display: none;
}
input {
	overflow: hidden;
	height: 0;
	width: 0;
	padding: 0;
}
smoothly-button {
	margin: 0;
	border: none;
}
label {
	display: flex;
	width: 100%;
	align-items: baseline;
	justify-content: flex-start;
}
label::slotted(*) {
	display: block;
	width: 100%;
	font-size: 0.65em;
	opacity: 0.8;
}
span {
	cursor: pointer;
	padding-left: 0.5rem;
}
