:host {
	display: flex;
	flex-direction: column;
}
:host smoothly-form {
	max-width: 50rem;
}
:host .counter {
	position: relative;
	width: 3rem;
	height: 3rem;
}
:host .counter-button {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	height: 3rem;
	width: 3rem;
	background-color: inherit;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
:host .controlled smoothly-input:not([readonly]),
:host .controlled smoothly-picker:not([readonly]) {
	outline: 1px solid rgb(var(--smoothly-success-color));
}
