:host {
	display: block;
	width: 30em;
	min-height: 3em;
	border-radius: 5px;
	margin: 0.5em;
}
:host > span{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
}
:host > span > p {
	text-align: center;
}
:host[hidden] {
	display: none;
}
smoothly-icon{
	float: left;
	margin-right: 0.2em;
	font-size: 1.5em;
	margin-top: 0.5em;
}
smoothly-trigger {
	font-size: 0.5em;
	float: right;
	text-align: right;
	margin-right: 0.2em;
}
