:host {
	display: block;
	position: relative;
	width: 30em;
	min-height: 3em;
	border-radius: 5px;
	margin: 0.5em;
}
:host > span.icon > smoothly-icon,
:host > span.clean {
	display: flex;
	justify-content: center;
	align-self: center;
}
:host > span.icon {
	display: grid;
	width: 100%;
	grid-template-columns: 3.5rem auto;
}
:host > span.icon > p {
	padding-right: 1em;
}
:host > span > p {
	text-align: left;
}
:host[hidden] {
	display: none;
}
:host > span.icon > smoothly-icon{
	margin: 0 1rem;
}
:host > smoothly-trigger {
	font-size: 0.7em;
	position: absolute;
	right: 0;
}
