:host {
	display: block;
	min-width: 32.6%;
	min-height: 3em;
	border-radius: 5px;
	margin: 0.5em;
}

:host[hidden] {
	display: none;
}

smoothly-0-trigger {
	float: right;
	text-align: right;
	margin-right: 0.2em;
}
