:host {
	display: table-cell;
	line-height: 2.5rem;
	background-color: rgb(var(--smoothly-color-shade));
	border-bottom: 1px solid rgb(var(--smoothly-dark-color));
	padding-left: 1em;
	font-weight: bold;
	margin-bottom: 5em;
}
