:host {
	display: table-cell;
	line-height: 2.5rem;
	border-bottom: 1px solid rgb(var(--smoothly-dark-color));
	border-top: 1px solid rgb(var(--smoothly-dark-color));
	padding-left: 1rem;
	font-weight: bold;
}
