:host {
	display: contents;
}
:host(:not([visible])) {
	display: none;
}
:host > * {
	cursor: pointer;
	padding: 0.25ch 0.5rem
}
.display {
	padding-left: 0;
}
button {
	color: unset;
	background-color: inherit;
	border: none;
	padding-right: 0;
}
.content {
	display: flex;
	column-gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
}
