* {
	box-sizing: border-box;
}
:host {
	display: contents;
}
:host:not([visible]) {
	display: none;
}
:host > * {
	width: 100%;
	cursor: pointer;
}
:host > *:not(:last-child) {
	padding-right: 1ch;
}
:host:not([labeled]) span {
	visibility: hidden;
}
span {
	margin-left: auto;
}
.value {
	display: flex;
	justify-content: flex-end;
}
:host > div:first-of-type {
	display: flex;
	align-items: center;
}
