:host {
	display: block;
	padding: 1rem;
	max-width: 900px;
	margin: auto;
}

:host > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

:host > div > smoothly-0-icon {
	margin: 1.5rem;
}
