:host {
	position: relative;
	display: block;
	width: fit-content;
	width: 100%;
}
.container  {
	position: absolute;
	z-index: 10;
	top: 3.5em;
	background-color: rgb(var(--background-color));
	box-shadow: var(--smoothly-shadow);
	min-width: 18em;
	max-width: 22em;
}
:host > .overlayer {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
:host > .container > .arrow {
	position: absolute;
	z-index: 9;
	transform: translate(10em, -0.55em) rotate(45deg);
	width: 1em;
	height: 1em;
	background-color: rgb(var(--background-color));
}
:host > fieldset {
	margin: 0em;
	margin-left: -0.4em;
	padding: 0em;
	border: none;
	display: flex;
	background-color: var(--background, transparent);
	border-radius: 0.25rem;
	cursor: pointer;
	width: 100%;

}
smoothly-input {
	display: inline;
	border-radius: var(--border-radius, none);
	background-color: transparent;
	width: var(--input-width);
}

smoothly-form-controll {
	width: 100%;
}
