@import "../../shared.css";

:host {
	position: relative;
	display: block;
	width: fit-content;
	background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
	&:focus-within smoothly-input {
		outline: none;
	}
}
:host > nav {
	position: absolute;
	z-index: 10;
	top: 3.5em;
	background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
	max-width: 22em;
}
:host > div {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
:host > nav > .arrow {
	position: absolute;
	z-index: 9;
	transform: translate(10em, -0.55em) rotate(45deg);
	width: 1em;
	height: 1em;
	background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
}
:host > section {
	display: flex;
	background-color: var(--background-color, var(--smoothly-color-shade), transparent);
	border-radius: 0.25rem;
	cursor: pointer;
}
smoothly-input {
	border-radius: var(--border-radius, none);
	background-color: transparent;
}
span {
	padding: 0.5em 0.2em 0.5em 0.2em;
	align-self: center;
}
