@import "../input.css";

:host {
	cursor: text;
}

.date-wrapper {
	position: relative;
}

.calendar-wrapper {
	position: absolute;
	z-index: 999;
	top: calc(100% + 0.1em);
	width: calc(100% + 2px);
}
