

:host {
	position: relative;
}
:host>span {
	position: absolute;
	top: 1rem;
	right: -3rem;
}

:host>span>smoothly-icon {
	margin: 0 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
}

:host>span:hover small,
:host>span:focus small {
	display: block;
}


:host>span>small {
	display: none;
	width: max-content;
	border-radius: 0.25rem;
	padding: 0.2rem 0.3rem;
	position: absolute;
	right: -0.5rem;
	top: -2rem;
	background-color: rgb(var(--smoothly-default-contrast));
	color: rgb(var(--smoothly-default-tint));
}
