:host {
	display: block;
	position: relative;
}

:host[hidden] {
	display: none;
}

label {
	display: block;
	width: calc(100% - 2 * 0.4em);
	padding: 0.2em 0.4em 0.2em 0.4em;
}

input[type=radio] {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100%);
	height: 100%;
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
}

input[type=radio]~label {
	border: 1px solid rgb(var(--smoothly-default-color));
	color: rgba(var(--smoothly-default-contrast), 0.5);
	background: rgb(var(--smoothly-default-color));
}

input[type=radio]:checked~label {
	background-color: rgb(var(--smoothly-default-shade));
	color: rgb(var(--smoothly-default-contrast));
}
