:host {
	display: block;
	position: relative;
}
:host[hidden] {
	display: none;
}
label {
	display: block;
	width: calc(100% - 2 * 0.4em);
	padding: 0.2em 0.4em 0.2em 0.4em;
}
input[type="radio"] {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100%);
	height: 100%;
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
}
input[type="radio"] ~ label {
	border: 1px solid rgb(var(--smoothly-color-shade));
	color: rgb(var(--smoothly-color-tint));
	background: rgb(var(--smoothly-color-shade));
}
input[type="radio"]:checked ~ label {
	background-color: rgb(var(--smoothly-color));
	color: rgb(var(--smoothly-color-contrast));
}
