:host {
	box-sizing: border-box;
	border-radius: var(--smoothly-input-border-radius);
}

:host[looks="border"]::slotted(smoothly-picker-menu smoothly-input),
:host[looks="border"] {
	border: rgb(var(--smoothly-input-border)) solid 1px;
}

:host[looks="border"][readonly] {
	border: transparent solid 1px;
}

:host[looks="line"]::slotted(smoothly-picker-menu smoothly-input),
:host[looks="line"] {
	border-bottom: rgb(var(--smoothly-input-border)) solid 1px;
}

:host[looks="line"][readonly] {
	border-bottom: transparent solid 1px;
}

:host[looks="grid"]::slotted(smoothly-picker-menu smoothly-input),
:host[looks="grid"] {
	border: rgb(var(--smoothly-input-border)) solid .5px;
	margin: -1px -1px 0 0;
}

:host[looks="grid"][readonly] {
	border: transparent solid .5px;
}

:host[looks="transparent"] {
	border: none;
}

:host[looks="transparent"]:not(:focus-within) {
	background-color: transparent;
}

:host[looks="transparent"]:not(:focus-within)>input {
	background: transparent;
}

:host[looks="transparent"]:focus-within {
	outline: 1px solid rgb(var(--smoothly-input-border));
}
