@import "./shared.css";

:host {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: var(--smoothly-font-weight);
	overflow: hidden;
	background-color: rgb(var(--smoothly-input-background));
	color: rgb(var(--smoothly-input-foreground));
}

:host[hidden] {
	display: none;
}

:host>.smoothly-input-container {
	position: relative;
	flex-grow: 1;
	height: 100%;
}

:host>.smoothly-input-container>label {
	left: var(--input-padding-side);
}

:host:not([show-label])>div>input {
	padding: 0 var(--input-padding-side);
}

:host>.smoothly-input-container>div.ghost {
	position: absolute;
  box-sizing: border-box;
  align-content: center;
	height: 100%;
	padding: 
		var(--input-value-padding-top) 
		var(--input-padding-side) 
		var(--input-value-padding-bottom) 
		var(--input-padding-side);
}
:host>.smoothly-input-container>div.ghost>div.value {
	display: inline;
	pointer-events: none;
	opacity: 0;
}
:host>.smoothly-input-container>div.ghost>div.remainder {
	display: inline;
	pointer-events: none;
	opacity: 0.5;
}

:host>.smoothly-input-container>input {
	padding: 
		var(--input-value-padding-top) 
		var(--input-padding-side) 
		var(--input-value-padding-bottom) 
		var(--input-padding-side);
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 0;
	z-index: 1;
	position: relative;
	font-size: 1rem;
	font-family: var(--smoothly-font-family);
}
:host([disabled])>.smoothly-input-container>input {
	cursor: not-allowed;
}

:host>.smoothly-invalid {
	display: none;
	z-index: 2;
	padding: 0.5rem;
}
:host:not([disabled])>.smoothly-invalid {
	cursor: pointer;
}

:host[invalid]>.smoothly-invalid {
	display: flex;
}

:host>div>label {
	z-index: 1;
	pointer-events: none;
}

:host>div>input:focus {
	outline: none;
}

:host>div>input:-webkit-autofill,
:host>div>input:-webkit-autofill:hover,
:host>div>input:-webkit-autofill:focus,
:host>div>input:-webkit-autofill:active {
	box-shadow: 0 0 0 40em rgb(var(--smoothly-input-background)) inset;
	-webkit-box-shadow: 0 0 0 40em rgb(var(--smoothly-input-background)) inset;
}

:host>div>input:-webkit-autofill,
:host>div>input:-webkit-autofill+label {
	-webkit-text-fill-color: rgb(var(--smoothly-input-foreground));
}
