:host {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: var(--smoothly-font-weight);
	padding: 0 0.4em;
	overflow: hidden;
	background-color: rgb(var(--background-color));
	color: rgb(var(--text-color, var(--smoothly-default-contrast)));
}
:host[hidden] {
	display: none;
}
input {
	padding: 1.1em 0.3em 0.3em 0em;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: none;
	border: 0;
	z-index: 1;
	position: relative;
	font-size: 1rem;
	font-family: var(--smoothly-font-family);
	background-color: rgb(var(--background-color));
}
input:focus {
	outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 40em rgb(var(--background-color)) inset;
	-webkit-box-shadow: 0 0 0 40em rgb(var(--background-color)) inset;
}
input:-webkit-autofill {
	-webkit-text-fill-color: rgb(var(--text-color, var(--smoothly-default-contrast)));
}
