:host {
	display: block;
	position: relative;
	font-weight: var(--smoothly-font-weight);
	padding: var(--padding);
	overflow: hidden;
	background-color: rgb(var(--background-color));
	color: rgb(var(--text-color, var(--smoothly-default-contrast)));
}
:host[hidden] {
	display: none;
}
:host > div {
	position: relative;
	width: 100%;
	height: 100%;
}
label {
	position: absolute;
	left: 0.4em;
	top: 0.6em;
	color: rgb(var(--text-color, var(--smoothly-default-contrast)));
	opacity: 0.8;
	user-select: none;
	cursor: inherit;
	transition: transform 0.1s;
	transform-origin: top left;
	transition-timing-function: ease;
}
:host:not([show-label]) label {
	display: none;
}
:host:not([show-label]) input {
	padding: 0.7em 0.3em 0.7em 0.4em;
}
input {
	padding: 1.2em 0.3em 0.2em 0.4em;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: none;
	border: 0;
	z-index: 1;
	position: relative;
	font-size: 1rem;
	font-family: var(--smoothly-font-family);
	background-color: rgb(var(--background-color));
}
smoothly-0-icon {
	display: none;
	position: absolute;
	right: 0.2em;
	top: 0.6em;
}
input:invalid + label + smoothly-0-icon {
	display: block;
}
:host > div > label {
	z-index: 1;
	pointer-events: none;
}
:host.has-value > div > label,
:host:focus-within > div > label {
	top: 0.4em;
	transform: scale(0.6);
}
input:focus {
	outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 40em rgb(var(--background-color)) inset;
	-webkit-box-shadow: 0 0 0 40em rgb(var(--background-color)) inset;
}
input:-webkit-autofill,
input:-webkit-autofill + label {
	-webkit-text-fill-color: rgb(var(--text-color, var(--smoothly-default-contrast)));
}
