@import "../shared.css";

:host {
	display: flex;
	align-items: center;
	flex-direction: row;
	position: relative;
	gap: .5em;
	padding: .6em;
	box-sizing: border-box;
	background-color: rgb(var(--background-color,var(--smoothly-color-shade)));
}

smoothly-icon {
	position: absolute;
	z-index: 1;
}

:host input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 1.2em;
	width: 1.2em;
	border: 1px solid black;
	display: block;
}

:host:not([readonly]) smoothly-icon,
:host:not([readonly]) input {
	cursor: pointer;
}

:host[disabled] input,
:host[disabled] smoothly-icon {
	border-color: rgb(var(--smoothly-color-contrast), 0.3);
	color: rgb(var(--smoothly-color-contrast), 0.4);
}
