@import "../shared.css";

:host {
	display: flex;
	align-items: center;
	flex-direction: row;
	position: relative;
	gap: .5rem;
	padding: 0 var(--input-padding-side);
	background-color: rgb(var(--smoothly-input-background));
	box-sizing: border-box;
	background-color: rgb(var(--smoothly-input-background));
	color: rgb(var(--smoothly-input-foreground));
}

:host>smoothly-icon {
	position: absolute;
	z-index: 1;
}

:host>input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 1.25rem;
	width: 1.25rem;
	border: 1px solid rgb(var(--smoothly-input-foreground));
	color: rgb(var(--smoothly-input-foreground));
	display: block;
}

:host:not([readonly]):not([disabled]),
:host:not([readonly]):not([disabled])>* {
	cursor: pointer;
}

:host([disabled]),
:host([disabled])>* {
	cursor: not-allowed;
}

:host>smoothly-icon { 
	--smoothly-color-contrast: var(--smoothly-input-foreground);
}

:host[looks="transparent"] {
	background-color: transparent;
}
/* overwrite shared.css styling */
:host[looks="transparent"]:not([readonly]):focus-within {
	outline-color: transparent;
}
