:host::slotted(smoothly-table-cell:first-child),
:host>div:first-child {
	position: relative;
}

:host::slotted(smoothly-table-cell:first-child)::before,
:host>div:first-child::before {
	content: '';
	display: flex;
	position: absolute;
	height: 0.4em;
	width: 0.4em;
	left: 0.3em;
	border-bottom: 1px solid rgb(var(--smoothly-table-foreground));
	border-right: 1px solid rgb(var(--smoothly-table-foreground));
	transition: transform 200ms ease-in-out;
	transform: rotate(-45deg);
	opacity: 0.3;
}

:host::slotted(smoothly-table-cell:first-child:hover)::before,
:host::slotted(smoothly-table-cell:first-child:has(~ smoothly-table-cell:hover))::before,
:host>div.content:hover:first-child::before {
	opacity: 1;
	border-bottom: 1px solid rgb(var(--smoothly-color-contrast));
	border-right: 1px solid rgb(var(--smoothly-color-contrast));
}

:host[open]::slotted(smoothly-table-cell:first-child)::before,
:host[open]>div:first-child::before {
	transform: rotate(45deg);
}
