{
	"plugins": [
		"stylelint-prettier",
		"stylelint-scss"
	],
	"rules": {
		"selector-attribute-brackets-space-inside": "never",
		"selector-attribute-operator-space-before": "never",
		"selector-attribute-operator-space-after": "never",
		"selector-list-comma-newline-after": "always",
		"selector-pseudo-element-colon-notation": "double",
		"block-opening-brace-space-before": "always",
		"block-opening-brace-newline-after": "always",
		"block-closing-brace-newline-before": "always",
		"block-closing-brace-newline-after": "always",
		"declaration-block-semicolon-newline-after": "always",
		"indentation": "tab",
		"no-eol-whitespace": true,
		"max-empty-lines": 1,
		"comment-no-empty": true,
		"declaration-bang-space-before": "always",
		"declaration-bang-space-after": "never",
		"selector-attribute-quotes": "never",
		"declaration-block-no-duplicate-properties": true,
		"string-quotes": "double",
		"value-list-comma-space-after": "always",
		"alpha-value-notation": "number",
		"no-extra-semicolons": true,
		"at-rule-semicolon-space-before": "never",
		"at-rule-semicolon-newline-after": "always",
		"number-leading-zero": "always",
		"number-no-trailing-zeros": true,
		"declaration-no-important": true,
		"function-calc-no-invalid": true,
		"function-calc-no-unspaced-operator": true,
		"block-no-empty": true
	}
}
