:root {
	--smoothly-table-header-contrast: var(--smoothly-dark-contrast);
	--smoothly-table-header-color: var(--smoothly-dark-color);
	
	--smoothly-table-hover-contrast: var(--smoothly-color-contrast);
	--smoothly-table-hover-color: var(--smoothly-color);
	
	--smoothly-table-expanded-contrast: var(--smoothly-light-contrast);
	--smoothly-table-expanded-color: var(--smoothly-light-color);
}
