:root,
*[color],
smoothly-color {
	/* smoothly-table */
	--smoothly-table-foreground: var(--smoothly-default-contrast);
	--smoothly-table-background: var(--smoothly-default-color);

	--smoothly-table-header-foreground: var(--smoothly-default-contrast);
	--smoothly-table-header-background: var(--smoothly-default-color);
	--smoothly-table-header-shadow: 0 0.5rem 0.5rem -0.25rem rgba(var(--smoothly-dark-shade), 0.2);

	--smoothly-table-footer-foreground: var(--smoothly-light-contrast);
	--smoothly-table-footer-background: var(--smoothly-light-color);

	--smoothly-table-hover-foreground: var(--smoothly-color-contrast);
	--smoothly-table-hover-background: var(--smoothly-color-tint);

	--smoothly-table-border: var(--smoothly-color-shade);
	--smoothly-table-detail-border: var(--smoothly-color-tint);

	--smoothly-table-expanded-foreground: var(--smoothly-default-contrast);
	--smoothly-table-expanded-background: var(--smoothly-default-tint);
	
	/* smoothly inputs */
	--smoothly-input-foreground: var(--smoothly-default-contrast);
	--smoothly-input-background: var(--smoothly-default-tint);
	--smoothly-input-border: var(--smoothly-default-shade);
	--smoothly-input-border-focus: var(--smoothly-primary-color);
	--smoothly-input-disabled-foreground: var(--smoothly-default-contrast);
	--smoothly-input-disabled-background: var(--smoothly-default-shade);
	--smoothly-input-disabled-border: var(--smoothly-default-shade);
	--smoothly-input-border-readonly: var(--smoothly-input-border), 50%;
	--smoothly-input-border-radius: 0;

	--smoothly-input-hover-background: var(--smoothly-primary-tint);
	--smoothly-input-hover-foreground: var(--smoothly-primary-contrast);

	/* smoothly-item */
	--smoothly-item-foreground: var(--smoothly-default-contrast);
	--smoothly-item-background: var(--smoothly-default-tint);

	--smoothly-item-hover-background: var(--smoothly-primary-tint);
	--smoothly-item-hover-foreground: var(--smoothly-primary-contrast);

	--smoothly-item-selected-background: var(--smoothly-primary-color);
	--smoothly-item-selected-border: var(--smoothly-primary-shade);
	--smoothly-item-selected-foreground: var(--smoothly-primary-contrast);

	--smoothly-item-disabled-background: var(--smoothly-default-shade);
  --smoothly-item-disabled-foreground: var(--smoothly-default-contrast), 50%;
	--smoothly-item-disabled-opacity: 0.6;

	/* smoothly-tab */
	--smoothly-tab-hover-background: var(--smoothly-default-tint);
	--smoothly-tab-active-line: var(--smoothly-primary-color);

	/* smoothly-button */
	--smoothly-button-background: var(--smoothly-color);
	--smoothly-button-foreground: var(--smoothly-color-shade);
	--smoothly-button-hover-background: var(--smoothly-color-tint);
	--smoothly-button-focus-border: var(--smoothly-color-shade);
	--smoothly-button-border-radius: 0.25rem;
	
	/* smoothly-calendar */
	--smoothly-calendar-weekend-foreground: var(--smoothly-danger-color);
	
	/* smoothly-modal */
	--smoothly-modal-backdrop: var(--smoothly-default-color), var(--smoothly-semitransparent);
	--smoothly-modal-background: var(--smoothly-default-color);
	--smoothly-modal-foreground: var(--smoothly-default-contrast);
	--smoothly-modal-border: var(--smoothly-default-shade);
	--smoothly-modal-border-radius: 0.5rem;
	--smoothly-modal-shadow: 0 0.5rem 1rem -0.5rem rgba(var(--smoothly-dark-shade), 0.2);
	--smoothly-modal-width: 30rem;
	--smoothly-modal-max-height: calc(100dvh - 2rem);
}
