:root,
*[color],
smoothly-color {
	/* smoothly-next-table */
	--smoothly-table-foreground: var(--smoothly-default-contrast);
	--smoothly-table-background: var(--smoothly-default-color);

	--smoothly-table-header-foreground: var(--smoothly-dark-contrast);
	--smoothly-table-header-background: var(--smoothly-dark-color);

	--smoothly-table-footer-foreground: var(--smoothly-light-contrast);
	--smoothly-table-footer-background: var(--smoothly-light-color);

	--smoothly-table-hover-foreground: var(--smoothly-color-contrast);
	--smoothly-table-hover-background: var(--smoothly-color-tint);

	--smoothly-table-border: var(--smoothly-color-shade);

	--smoothly-table-expanded-foreground: var(--smoothly-default-contrast);
	--smoothly-table-expanded-background: var(--smoothly-default-tint);
	/* smoothly input */
	--smoothly-input-foreground: var(--smoothly-default-contrast);
	--smoothly-input-background: var(--smoothly-default-tint);
	--smoothly-input-border: var(--smoothly-default-shade);
	--smoothly-input-border-radius: 0.5rem;

	--smoothly-input-hover-background: var(--smoothly-primary-tint);
	--smoothly-input-hover-foreground: var(--smoothly-primary-contrast);

	--smoothly-input-selected-background: var(--smoothly-primary-color);
	--smoothly-input-selected-border: var(--smoothly-primary-shade);
	--smoothly-input-selected-foreground: var(--smoothly-primary-contrast);
	/* smoothly-button */
	--smoothly-button-background: var(--smoothly-color);
	--smoothly-button-foreground: var(--smoothly-color-shade);
	--smoothly-button-hover-background: var(--smoothly-color-tint);
	--smoothly-button-focus-border: var(--smoothly-color-shade);
}
