:host {
	position: relative;
	display: inline;
}

:host .mirror {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	color: transparent;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
:host input {
	border: none;
	padding: 0;
}
:host input:focus {
	outline: none;
}
