@import "../arrow.scss";

:host {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: auto 0fr;
	position: relative;
	border-color: rgb(var(--smoothly-table-border));
	border-style: solid;
	border-width: 1px 0 0 0;
	margin-top: -1px;
}

:host::slotted(*) {
	cursor: pointer;
}

:host:has(>:not(:last-child):hover)> :not(:last-child) {
	background-color: rgb(var(--smoothly-table-hover-background));
	color: rgb(var(--smoothly-table-hover-foreground));
}

:host[open] {
	background-color: rgb(var(--smoothly-table-expanded-background));
	color: rgb(var(--smoothly-table-expanded-foreground));
	grid-template-rows: auto 1fr;
	border-left-width: 1px;
	border-right-width: 1px;
	grid-template-rows: 0fr 1fr;
}

:host>div:last-child {
	grid-column: 1 / -1;
	cursor: default;
	position: relative;
	overflow: hidden;
	background-color: rgb(var(--smoothly-table-expanded-background));
	color: rgb(var(--smoothly-table-expanded-foreground));
}

:host> :first-child:not(:last-child) {
	@include arrow;
}

:host:has(>:not(:last-child):hover)> :first-child:not(:last-child) {
	@include arrow-hover;

}

:host[open]> :first-child:not(:last-child) {
	@include arrow-open;
}

:host[open]>div:last-child {
	overflow: visible;
	padding: 0.3rem 1.1rem;
}


:host>div:last-child::before,
:host>div:last-child::after {
	content: "";
	position: absolute;
	display: flex;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	width: 1em;
	background-color: rgb(var(--smoothly-table-expanded-background));
	border-style: solid;
	border-color: rgb(var(--smoothly-table-border));
}

:host>div:last-child::before {
	left: -1em;
	border-width: 1px 0 1px 0.3rem;
	border-left-color: rgb(var(--smoothly-table-detail-border, var(--smoothly-table-border)));
}

:host>div:last-child::after {
	right: -1em;
	border-width: 1px 1px 1px 0;
}
