@import "../color/style.css";

:host {
	--smoothly-button-border-radius: 0.5rem;
	display: inline-block;
	box-sizing: border-box;
	border-radius: var(--smoothly-button-border-radius);
	cursor: pointer;
	border: none;
	outline: none;
	position: relative;
}
:host([shape=rounded]) {
	--smoothly-button-border-radius: 2rem;
}

:host([type=link]) {
	display: inline;
}

:host([disabled]) {
	opacity: 0.5;
	pointer-events: none;
}

:host>a,
:host>button {
	font-size: var(--button-font-size);
	font-weight: 400;
	border: 1px solid transparent;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	display: inline-flex;
	gap: 0.5rem;
	box-sizing: border-box;
}
:host>a:empty,
:host>button:empty {
	border-width: 0;
}

:host>button {
	font-weight: bold;
	justify-content: center;
	height: 100%;
	width: 100%;
	border-radius: var(--smoothly-button-border-radius);
	align-items: center;
}

:host(:not([size=icon]):not([size=flexible]))>button {
	min-width: 8rem;
}

:host(:not([size])),
:host([size=small]) {
	--button-font-size: 1.1rem;
}
:host([size=large]) {
	--button-font-size: 1.3rem;
}
:host(:not([size=icon]):not([size=flexible])):has(smoothly-icon[size=tiny]) {
	--smoothly-icon-size: 1.2rem;
}
:host(:not([size=icon]):not([size=flexible])):has(smoothly-icon[size=small]) {
	--smoothly-icon-size: 1.4rem;
}
:host(:not([size=icon]):not([size=flexible])):has(smoothly-icon),
:host(:not([size=icon]):not([size=flexible])):has(smoothly-icon[size=medium]) {
	--smoothly-icon-size: 1.8rem;
}
:host(:not([size=icon]):not([size=flexible])):has(smoothly-icon[size=tiny]) {
	--smoothly-icon-size: 2.8rem;
}
:host(:not([size=icon]):not([size=flexible])):has(smoothly-icon[size=xlarge]) {
	--smoothly-icon-size: 4rem;
}
:host,
:host([size=small]) {
	--target-height: 3rem;
}
:host([size=large]) {
	--target-height: 3.5rem;
}
:host([size=large])>button {
	padding-inline: 1.25rem;
}
:host {
	--content-height: var(--button-font-size, 0);
}
:host>button {
	padding-block: calc(((var(--target-height) - var(--content-height)) / 2) - 1px);
	padding-inline: 0.5rem;
}
:host:has(smoothly-icon) {
	--content-height: var(--smoothly-icon-size);
}

:host([size=icon])>button {
	padding: 0.5em;
}

:host([type=button])>a {
	text-align: center;
	text-decoration: inherit;
	width: calc(100% - 0.5rem);
}

:host(:not([size=icon])) {
	min-width: 8em;
}

:host([size=flexible]) {
	min-width: unset;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

:host([size=flexible])>button {
	min-width: unset;
	padding: 0;
	margin: 0;
}

:host([expand]) {
	width: 100%;
}

:host([expand=full]) {
	border-left: none;
	border-right: none;
	--smoothly-button-border-radius: 0;
}

:host([fill=outline])>button {
	background-color: transparent;
	color: rgb(var(--smoothly-button-foreground));
	fill: rgb(var(--smoothly-button-foreground));
	stroke: rgb(var(--smoothly-button-foreground));
	border-color: rgb(var(--smoothly-button-foreground));
}

:host(:not([fill=clear]))>button:hover,
:host()>button:focus-visible,
:host([fill=outline]):active>button::before {
	border-color: rgb(var(--smoothly-button-focus-color));
}

:host([fill=outline])>button:hover::before,
:host([fill=outline])>button:focus-within::before,
:host([fill=outline])>button:active::before {
	content: "";
	position: absolute;
	border: 2px solid rgb(var(--smoothly-button-focus-border));
	inset: -1px;
	border-radius: var(--smoothly-button-border-radius);
}

:host(:not([fill=clear]):not([fill=outline]))>button:hover,
:host(:not([fill=clear]):not([fill=outline]))>button:focus-visible,
:host(:not([fill=clear]):not([fill=outline]))>button:active {
	background: rgb(var(--smoothly-button-hover-background));
}

:host>button,
:host ::slotted(smoothly-icon) {
	color: rgb(var(--smoothly-button-foreground));
	stroke: rgb(var(--smoothly-button-foreground));
	fill: rgb(var(--smoothly-button-foreground));
}

:host([hidden]) {
	display: none;
}
