@import "../color/style.css";

:host {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 0.5rem;
	cursor: pointer;
	border: none;
	outline: none;
	position: relative;
}

:host([type=link]) {
	display: inline;
	border: none;
}

:host([disabled]) {
	opacity: 0.5;
	pointer-events: none;
}

:host>a,
:host>button {
	font-size: 110%;
	font-weight: 400;
	border: 1px solid transparent;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	display: inline-flex;
	gap: 0.5rem;
	box-sizing: border-box;
}

:host>button {
	font-weight: bold;
	justify-content: center;
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
	align-items: center;
}

:host(:not([size=icon]):not([size=flexible]))>button {
	padding: 0.8em;
	min-width: 8em;
}

:host(:not([size=icon]):not([size=flexible])):has(smoothly-icon)>button {
	padding: 0.6em;
}

:host([size=icon])>button {
	padding: 0.5em;
}

:host([shape=rounded])>button,
:host([shape=rounded]) {
	border-radius: 2rem;
}

:host([type=button])>a {
	text-align: center;
	text-decoration: inherit;
	width: calc(100% - 0.6em);
}

:host([size=small])>button {
	font-size: 100%;
}

:host([size=large])>button {
	font-size: 130%;
}

:host(:not([size=icon])) {
	min-width: 8em;
}

:host([size=flexible]) {
	min-width: unset;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

:host([size=flexible])>button {
	min-width: unset;
	padding: 0;
	margin: 0;
}

:host([expand]) {
	width: 100%;
}

:host([expand=full]) {
	border-left: none;
	border-right: none;
	border-radius: 0;
}

:host([shape=rounded]),
:host([shape=rounded])>button::before {
	border-radius: 2rem;
}
:host([fill=outline])>button {
	background-color: transparent;
	color: rgb(var(--smoothly-button-foreground));
	fill: rgb(var(--smoothly-button-foreground));
	stroke: rgb(var(--smoothly-button-foreground));
	border: 1px solid rgb(var(--smoothly-button-foreground));
}

:host(:not([fill=clear])):hover>button,
:host()>button:focus-visible,
:host([fill=outline]):active>button::before {
	border: solid 1px rgb(var(--smoothly-button-focus-border));
}
:host([fill=outline]):hover>button::before,	
:host([fill=outline]):focus-within>button::before,
:host([fill=outline]):active>button::before {		
	content: "";
	position: absolute;
	border: 2px solid rgb(var(--smoothly-button-focus-border));
	inset: -1px;
}

:host(:not([fill=clear]):not([fill=outline]))>button:hover,
:host(:not([fill=clear]):not([fill=outline]))>button:focus-visible,
:host(:not([fill=clear]):not([fill=outline]))>button:active,
:host(:not([fill=clear]):not([fill=outline]):hover),
:host(:not([fill=clear]):not([fill=outline]):focus-visible),
:host(:not([fill=clear]):not([fill=outline]):active) {
	background: rgb(var(--smoothly-button-hover-background));
}

:host>button,
:host ::slotted(smoothly-icon) {
	color: rgb(var(--smoothly-button-foreground));
	stroke: rgb(var(--smoothly-button-foreground));
	fill: rgb(var(--smoothly-button-foreground));
}


:host([disabled]) {
	opacity: 0.5;
	pointer-events: none;
}

:host([hidden]) {
	display: none;
}
