:host(:not([display])) {
	display: none;
}

:host() smoothly-icon {
	filter: opacity(60%);
	transition: 0.6s;
}

:host():hover smoothly-icon {
	cursor: pointer;
}

:host():hover smoothly-icon {
	filter: opacity(100%);
}
