:host {
	position: relative;
	display: block;
	width: fit-content;
}
:host > nav {
	position: absolute;
	z-index: 10;
	top: 3.5em;
	background-color: rgb(var(--smoothly-default-shade));
	max-width: 22em;
}
:host > div {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
:host > nav > .arrow {
	position: absolute;
	z-index: 9;
	transform: translate(10em, -0.55em) rotate(45deg);
	width: 1em;
	height: 1em;
	background-color: rgb(var(--smoothly-default-shade));
}
:host > section {
	display: flex;
	background-color: var(--background, transparent);
	border-radius: 0.25rem;
	cursor: pointer;
	align-items: center;
}
:host > section > div {
	display: flex;
	align-items: center;
}
smoothly-icon {
	margin-right: 0.5rem;
}
smoothly-input {
	border-radius: var(--border-radius, none);
	background-color: transparent;
	width: var(--input-width);
}
span {
	padding: 0.5em 0.2em 0.5em 0.2em;
	align-self: center;
}
