smoothly-0-radio-group {
	display: flex;
	position: relative;
	/* stylelint-disable-next-line declaration-no-important */
	color: none !important;
	/* stylelint-disable-next-line declaration-no-important */
	background: none !important;
	margin: 0.5em 0;
}

smoothly-0-radio-group[hidden] {
	display: none;
}

smoothly-0-radio-group[orientation=vertical] *:not(:first-of-type)>input[type=radio]~label {
	border-top: none;
}

smoothly-0-radio-group:not([orientation=vertical]) *:not(:first-of-type)>input[type=radio]~label {
	border-left: none;
}

smoothly-0-radio-group[orientation=vertical] {
	flex-direction: column;
}

smoothly-0-radio-group[orientation=vertical] :first-of-type>input[type=radio]~label {
	border-radius: 4px 4px 0 0;
}

smoothly-0-radio-group[orientation=vertical] :last-of-type>input[type=radio]~label {
	border-radius: 0 0 4px 4px;
}

smoothly-0-radio-group:not([orientation=vertical]) {
	flex-direction: row;
}

smoothly-0-radio-group:not([orientation=vertical]) :first-of-type>input[type=radio]~label {
	border-radius: 4px 0 0 4px;
}

smoothly-0-radio-group:not([orientation=vertical]) :last-of-type>input[type=radio]~label {
	border-radius: 0 4px 4px 0;
}
