:host {
	display: block;
	position: relative;
}
:host::part(value) {
	height: 2em;
	position: relative;
	transform: translateX(-50%);
	display: inline-block;
	margin: 0
}
:host::part(slide) {
	position: relative;
	background-color: rgb(var(--smoothly-primary-tint));
	border-radius: 10em;
}
:host::part(slider) {
	position: relative;
	background-color: rgb(var(--smoothly-primary-contrast));
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
}
:host .min-max {
	display: flex;
	justify-content: space-between;
	margin: auto;
}
:host::part(min), :host::part(max)  {
	margin: .2em 0 0 0;
	position: relative;
	 padding-right:  5px ; 
	font-weight: bolder;
}


