:host([visible]){
	display:block;
	width: 3.2em;	
	height:4em;
}

:host:not([visible]){
	display: none;
}

.slide{
	position: relative;
	display: flex;
	height: 0.4em;
	width: auto;
	background-color: rgb(var(--smoothly-dark-tint));
	border-radius: 0.1em;
	margin: 0.3em;
}
