:host {
	position: relative;
}

nav {
	position: absolute;
	z-index: 10;
	top: 3.5em;
	background-color: rgb(var(--smoothly-default-shade));
	max-width: 22em;
} 
:host > div {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
:host > nav > .arrow {
	position: absolute;
	z-index: 9;
	transform: translate(2em, -.55em) rotate(45deg);
	width: 1em;
	height: 1em;
	background-color: rgb(var(--smoothly-default-shade));
}
