:host {
	position: relative;
}

smoothly-calendar {
	position: absolute;
	top: 2.5em;
	left: .5em;
	z-index: 5;
	background-color: rgb(var(--smoothly-default-shade));
	max-width: 22em;
	
} 
:host > div {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 4;
}
