:host {
	position: relative;
	max-width: 100vw;
}
nav {
	position: absolute;
	z-index: 10;
	top: 3.5em;
	background-color: rgb(var(--smoothly-default-shade));
}
:host > div {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
:host > nav > .arrow {
	position: absolute;
	z-index: 9;
	transform: translate(2em, -0.55em) rotate(45deg);
	width: 1em;
	height: 1em;
	background-color: rgb(var(--smoothly-default-shade));
}

@media screen and (min-width: 900px){
	nav {
		position: absolute;
		z-index: 10;
		top: 3.5em;
		background-color: rgb(var(--smoothly-default-shade));
		max-width: 22em;
	}
}
