:host {
	display: block;
	width: 1200px;	
	margin: 2em auto;
}
:host>div{
	border: rgb(var(--smoothly-default-shade)) solid 1px;
	margin-bottom: 2em;
	padding: 2em;
}
:host>div>div { 
	margin: 2em 1em
}
:host[hidden] {
	display: none;
}
button:focus {
	outline: none;
}
smoothly-selector {
	outline: none;
}
button {
	display: block;
}
