:host {
	display: grid;
	grid-template-columns: repeat(var(--tabs), auto);
	grid-template-rows: auto 3px auto;
}

:host > div.line {
	background-color: rgb(var(--smoothly-default-shade));
	grid-column: 1 / -1;
	grid-row: 2 / 3;
}
