
smoothly-reorder> * {
	cursor: move;
	transition: transform 0.3s;
}
smoothly-reorder > *.dragging {
	transition: none;
	box-shadow: 0 0 10px rgba(var(--smoothly-dark-color));
	z-index: 1;
	user-select: none;
}
