smoothly-0-reorder>* {
	cursor: move;
	transition: transform 0.3s;
}

smoothly-0-reorder>*.dragging {
	transition: none;
	box-shadow: 0 0 10px rgba(var(--smoothly-0-dark-color));
	z-index: 1;
	user-select: none;
}
