@import "../arrow.css";

:host {
	display: contents;
}

:host>div {
	padding: 0.3rem 1.1rem;
}

:host>div.content {
	display: flex;
	align-items: center;
	white-space: nowrap
}

:host>div.content:hover {
	background-color: rgb(var(--smoothly-color-shade));
}

:host>div:first-child {
	cursor: pointer;
}

:host>div.detail {
	grid-column: 1 / -1;
	grid-row: 2;
	overflow: hidden;
}

:host[open]>div {
	background-color: rgb(var(--smoothly-color-tint));
}

:host:not([open])>div.detail {
	display: none;
}
