:host {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	box-sizing: border-box;
	border-style: solid;
	border-color: rgb(var(--smoothly-table-border));
	border-width: 0 0 1px 0;
}

:host:has(smoothly-next-table-expandable-cell) {
	grid-template-rows: auto 0fr 0fr;
}

:host:has(smoothly-next-table-expandable-cell[open]) {
	grid-template-rows: auto 1fr 0fr;
}

