:host {
	display: block;
	min-width: var(--size-width);
	min-height: var(--size-height);
	background-color: rgb(var(--text-color, var(--smoothly-color-contrast)));
}
object {
	min-width: var(--size-width);
	min-height: var(--size-height);
	background-color: rgb(var(--text-color, var(--smoothly-color-contrast)));
}
