@import "./radio.css";
@import "./button.css";

:host {
	display: block;
}

:host > header {
	display: flex;
	align-items: center;
}

::slotted([slot=expansion]) {
	display: none;
	background: rgb(var(--smoothly-secondary-tint));
	color: rgb(var(--smoothly-secondary-contrast));
	padding: 0;
	position: relative;
	transition: 0.1s;
}

[selected]::slotted([slot=expansion]) {
	display: block;
	padding: 0.5rem;
}
