@import "../../assets/common.css";
div {
	position: relative;
}
label {
	position: absolute;
	left: .4em;
	bottom: .2em;
	color: var(--smoothly-text-color);
}
input {
	padding: 1em .4em .2em .4em;
	width: calc(100% - 2 * .4em - 2px);
	background: none;
	border: 0;
}
div.has-content > label,
div:focus-within > label {
	top: .3em;
	left: .4em;
	font-size: 60%;
}
