:host {
	display: grid;
	grid-template-columns: 1rf;
	grid-template-rows: repeat();
	max-height: 300px;
	width: var(--width);
	border: 1px solid black;
	box-sizing: border-box;
	background-color: rgb(var(--smoothly-secondary-color));
	max-height: var(--max-menu-height);
	overflow-y: auto;
}
div:last-child {
	padding: 0.5em 1em;
	font-style: italic;
}
