:host {
	max-height: 300px;
	width: 85%;
	max-height: var(--max-menu-height);
	box-sizing: border-box;
	background-color: rgb(var(--smoothly-default-color));
	border-radius: 0.25em;
	color: rgb(var(--smoothly-primary-color));
	stroke: rgb(var(--smoothly-primary-color));
	fill: rgb(var(--smoothly-primary-color));
	box-shadow: 0px 2px 24px rgba(64, 60, 57, 0.08), inset 0px 0px 1px rgba(64, 60, 57, 0.4);
	overflow-y: auto;
	cursor: pointer;
}

div:last-child:not(:empty) {
	padding: 0.5em 1em;
	font-style: italic;
}

:host:first-child {
	margin: 10em;
}
