smoothly-radio-button[decoration=button] :host {
padding: 0.3rem;
}

smoothly-radio-button[decoration=button] :host > header > smoothly-icon {
	margin-right: 0.5rem;
	border-radius: 100%;
	font-size: 1.3rem;
	display: flex;
	background: rgb(var(--smoothly-light-color));
	transition: 0.2s;
}

smoothly-radio-button[decoration=button] :host[selected] > header > smoothly-icon {
	color: rgb(var(--smoothly-success-color));
	background: rgb(var(--smoothly-success-shade));
}

smoothly-radio-button[decoration=button] ::slotted([slot=expansion]) {
	background: rgb(var(--smoothly-secondary-color));
	color: rgb(var(--smoothly-secondary-contrast));
	border-radius: 5px;
	margin-top: 0.5rem;
}

smoothly-radio-button[decoration=button] ::slotted([slot=expansion])::before {
	content: "\25B2";
	position: absolute;
	top: -0.8rem;
	left: 3rem;
	color: rgb(var(--smoothly-secondary-color));
}

@media screen and (min-width: 900px){
	smoothly-radio-button[decoration=button] :host > header:hover > smoothly-icon {
		background: rgb(var(--smoothly-success-color));
		cursor: pointer;
	}
	smoothly-radio-button[deselectable] :host[selected] > header:hover > smoothly-icon {
		background: rgb(var(--smoothly-warning-shade));
		color: rgb(var(--smoothly-warning-color));
		cursor: pointer;
	}
}
