smoothly-0-radio-button[decoration=button] :host {
	padding: 0.3rem;
}

smoothly-0-radio-button[decoration=button] :host>header>smoothly-0-icon {
	margin-right: 0.5rem;
	border-radius: 100%;
	font-size: 1.3rem;
	display: flex;
}

smoothly-0-radio-button[decoration=button] ::slotted([slot=expansion]) {
	background: rgb(var(--smoothly-0-color));
	color: rgb(var(--smoothly-0-color-contrast));
	border-radius: 5px;
	margin-top: 0.5rem;
}

html smoothly-0-radio-button[decoration=button]> :host {
	background-color: inherit;
	color: inherit;
}

smoothly-0-radio-button[decoration=button] ::slotted([slot=expansion])::before {
	content: "\25B2";
	position: absolute;
	top: -0.8rem;
	left: 3rem;
	color: rgb(var(--smoothly-0-color));
}

@media screen and (min-width: 900px) {
	smoothly-0-radio-button[decoration=button] :host>header:hover>smoothly-0-icon {
		cursor: pointer;
	}

	smoothly-0-radio-button[deselectable] :host[selected]>header:hover>smoothly-0-icon {
		cursor: pointer;
	}
}
