smoothly-0-radio-button[decoration=radio] :host {
	transition: 0.1s;
}

smoothly-0-radio-button[decoration=radio] :host>header {
	padding: 0.5rem;
}

smoothly-0-radio-button[decoration=radio] :host>header>smoothly-0-icon {
	display: none;
}

smoothly-0-radio-button[decoration=radio] :host[selected]>header {
	color: rgb(var(--smoothly-0-secondary-contrast));
	background: rgb(var(--smoothly-0-secondary-color));
}

smoothly-0-radio-button[decoration=radio] ::slotted([slot=expansion])::before {
	content: unset;
}

@media screen and (min-width: 900px) {
	smoothly-0-radio-button[decoration=radio] :host:hover {
		background: rgb(var(--smoothly-0-secondary-shade));
		cursor: pointer;
	}
}
