smoothly-radio-button[decoration=radio] :host {
	transition: 0.1s;
}

smoothly-radio-button[decoration=radio] :host > header {
	padding: 0.5rem;
}

smoothly-radio-button[decoration=radio] :host > header > smoothly-icon {
	display: none;
}
smoothly-radio-button[decoration=radio] :host[selected] > header {
	color: rgb(var(--smoothly-secondary-contrast));
	background: rgb(var(--smoothly-secondary-color));
}

smoothly-radio-button[decoration=radio] ::slotted([slot=expansion])::before {
	content: unset;
}

@media screen and (min-width: 900px) {
	smoothly-radio-button[decoration=radio] :host:hover {
		background: rgb(var(--smoothly-secondary-shade));
		cursor: pointer;
	}
}
