@import "./radio.css";
@import "./button.css";

:host {
	display: block;
}

:host>header {
	display: flex;
	align-items: center;
}

::slotted([slot=expansion]) {
	display: none;
	padding: 0;
	position: relative;
	transition: 0.1s;
}

[selected]::slotted([slot=expansion]) {
	display: block;
	padding: 0.5rem;
}

:host[disabled] {
	pointer-events: none;
}

:host[disabled]>header>smoothly-0-icon {
	opacity: 0.25;
}
