:host {
	position: relative;
	height: 100%;
}
:host > main,
:host > main > * {
	min-width: 25px;
	max-width: inherit;
	height: 100%;
	display: flex;
	align-items: center;
	border: 1px transparent;
	margin: 0.5em;

}
:host > div > nav {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 10;
	height:  var(--menu-height, unset);
	overflow-y: scroll;
}
:host > aside {
	position: absolute;
	top: 0;
	left: 5em;
	z-index: 10;
	background-color: rgb(var(--smoothly-0-tertiary-color));
	color: rgb(var(--smoothly-0-tertiary-contrast));
	height: 1.25rem;
	border-radius: 0.3rem;
	padding: 0.3rem;
	display: flex;
	align-items: center;
}
:host().missing > aside {
	background-color: rgb(var(--smoothly-0-warning-color));
	color: rgb(var(--smoothly-0-warning-contast));
}
.hidden {
	display: none;
}
