:host {
	display: flex;
	margin: 2rem auto;
  width: 1200px;
  max-width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}

:host>div {
	width: 100%;
}

:host smoothly-button {
	width: 20%;
}
