:host {
	display: flex;
	align-items: center;
	position: relative;
}
:host > smoothly-icon {
	stroke: rgb(var(--smoothly-input-foreground));
	fill: rgb(var(--smoothly-input-foreground));
}
:host[selected] > smoothly-icon {
	stroke: rgb(var(--smoothly-input-accent));
	fill: rgb(var(--smoothly-input-accent))
}
:host:hover > * {
	cursor: pointer;
}

:host input:focus-visible + smoothly-icon {
	outline: 2px solid rgb(var(--smoothly-primary-color));	
	border-radius: 1px;
}

:host input {
	opacity: 0;
	z-index: 1;
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	transform: translateX(50%);
}

:host label {
	padding: 0 .3em;
	white-space: nowrap;
}
