:host {
	display: grid;
	grid-template-areas: 
		"check label"
		"detail detail";
	grid-template-columns: auto 1fr;
	align-items: center;
	position: relative;
}
smoothly-input-radio:not([disabled]):not([readonly]) :host>* {
	cursor: pointer;
}
smoothly-input-radio[disabled] :host>* {
	cursor: not-allowed;
}

:host>input:focus-visible+smoothly-icon {
	outline: 2px solid rgb(var(--smoothly-primary-color));
	border-radius: 1px;
}
:host>smoothly-icon {
	grid-area: check;
	--smoothly-color-contrast: var(--smoothly-input-foreground);
}
smoothly-input-radio:not([disabled]):not([readonly]) :host>smoothly-icon[name=checkmark-circle] {
	--smoothly-color-contrast: var(--smoothly-success-color);
}

:host>input {
	grid-area: check;
	opacity: 0;
	z-index: 1;
	left: 0;
	width: 1.4rem;
	height: 1.4rem;
	position: absolute;
}
:host>label {
	grid-area: label;
	padding-inline: 0.25rem;
	white-space: nowrap;
	width: fit-content;
}
:host [slot=detail] {
	grid-area: detail;
}
:host[selected] ::slotted([slot="detail"]) {
  display: flex;
}
:host ::slotted([slot="detail"]) {
  display: none;
}
