:host {
	display: flex;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}
:host > main {
	display: none;
}
:host > li {
	height: 100%;
	list-style: none;
}
:host > li > a {
	margin: 0em 1.5em;
	height: 100%;
}
:host[selected] > li {
	color: rgb(var(--smoothly-color-contrast));
	background: rgb(var(--smoothly-color-shade));
}
:host:hover > li {
	color:rgb(var(--smoothly-color-contrast)); 
	background-color: rgb(var(--smoothly-color-tint));
	transition: 0.2s;	
}
:host > li > a > smoothly-icon{
	align-self:inherit;
	margin-bottom: 1em;
}
