@mixin arrow {
	position: relative;

	&::before {
		content: '';
		display: flex;
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		height: 0.4em;
		width: 0.4em;
		left: 0.3em;
		border-bottom: 1px solid rgb(var(--smoothly-table-contrast));
		border-right: 1px solid rgb(var(--smoothly-table-contrast));
		transition: rotate 200ms ease-in-out;
		rotate: -45deg;
		opacity: 0.3;
	}
}

@mixin arrow-hover {
	&::before {
		border-bottom: 1px solid rgb(var(--smoothly-table-hover-contrast));
		border-right: 1px solid rgb(var(--smoothly-table-hover-contrast));
		opacity: 1;
	}
}

@mixin arrow-open {
	&::before {
		rotate: 45deg;
	}
}
