:host {
	display: block;
	max-width: 50rem;
	margin: 2rem auto 10rem auto ;
}

nav {
	margin-bottom: 2rem;
	display: flex;
	gap: 1rem
}

span {
	text-decoration: none;
	transition: 0.6s;
	font-weight: 600;
	cursor: pointer;
}

span:hover {
	opacity: 0.6;
}

.selected {
	text-decoration: underline;
}
