:host {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: absolute;
	z-index: 4;
	top: 100%;
	left: -1px;
	right: -1px;
	min-width: max-content;
	background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
	padding: 0.5rem;
	border: rgb(var(--text-color, var(--smoothly-color-contrast))) solid 1px;
}
:host .list {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	row-gap: 0.5ch;
	overflow-y: auto;
	max-height: calc(1.75rem * 10 + 0.5ch * 9);
	padding-right: 0.5rem;
	padding-bottom: 0.25rem;
}
:host .hide {
	display: none;
}
:host .controls {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0.5rem;
	transition: grid-template-columns 200ms linear;
}
:host .controls > button:disabled {
	opacity: 0.3;
}
