:host {
	display: inline-flex;
	position: relative;
}
:host[hidden] {
	display: none;
}
:host:not([visible]) aside {
	display: none;
}
:host aside {
	display: inline;
	position: absolute;
	padding: 0.3em;
	left: var(--left);
	right: var(--right);
	background-color:  rgb(238, 238, 238);
	border-color: rgb(238, 238, 238);
	border-style: solid;
  border-width: 0.1em;
	border-radius: 0.6em;
	z-index: 3;
}
:host[direction=down] aside {
	top: 2.2em;
	box-shadow: 6px 5px 9px -9px black,
	5px 6px 9px -9px black;
}
:host[direction=up] aside {
	bottom: 2.2em;
	box-shadow: -6px -5px 9px -9px black,
	-5px -6px 9px -9px black;
}
 :host:not([visible]) .background {
	display: none;
}
:host .background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
:host:not([visible]) .arrow {
	display: none;
}
:host .arrow{
	background-color:  rgb(238, 238, 238);
	border-color:  rgb(238, 238, 238);
	z-index: 2;
	content: "";
  position: absolute;
  width: 12px;
	height: 12px;
  transform: rotate(45deg);
	left: calc(var(--left) + 1em);
	right: calc(var(--right) + 1em);
}
:host[direction=down] .arrow {
	top: 2em;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}
:host[direction=up] .arrow {
	bottom: 2em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
:host .pointer {
	cursor: pointer;
}
