smoothly-app {
	display: block;
}
smoothly-app[hidden] {
	display: none;
}
smoothly-app > header {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 2em);
	z-index: 1;
  height: 4em;
	padding: 0 1em;
	background-color: rgb(var(--smoothly-primary-color));
  color: rgb(var(--smoothly-primary-contrast));
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(var(--smoothly-dark-shade));
}
smoothly-app > header > h1 {
	flex-grow: 1;
}
smoothly-app > header  a {
	color: inherit;
	text-decoration: inherit;
}
smoothly-app > header > h1,
smoothly-app > header > nav,
smoothly-app > header > nav > ul,
	smoothly-app > header > nav > ul > li {
	display: block;
	height: 100%;
	margin: 0;
}
smoothly-app > header > h1 > a,
smoothly-app > header > nav > ul > li a {
	display: inline-block;
	line-height: 4em;
	height: 100%;
	padding: 0 1em;
	color: rgb(var(--smoothly-primary-contrast));
	text-decoration: none;
	font-weight: bold;
}
smoothly-app > header > nav > ul > li a:hover {
	background-color: rgb(var(--smoothly-secondary-color));
	color: rgb(var(--smoothly-secondary-contrast));
}
smoothly-app > header + * {
	position: relative;
	top: 4em;
}