smoothly-0-app {
	display: block;
	scrollbar-width: none;
}

smoothly-0-app[hidden] {
	display: none;
}

smoothly-0-app[color=default],
smoothly-0-app:not([color]) {
	--smoothly-0-app-background: var(--smoothly-0-default-color);
	--smoothly-0-app-color: var(--smoothly-0-default-contrast);
	--smoothly-0-app-hover-background: var(--smoothly-0-primary-color);
	--smoothly-0-app-hover-color: var(--smoothly-0-primary-contrast);
	--smoothly-0-app-shadow: var(--smoothly-0-default-shadow);
}

smoothly-0-app[color=primary] {
	--smoothly-0-app-background: var(--smoothly-0-primary-shade);
	--smoothly-0-app-color: var(--smoothly-0-primary-contrast);
	--smoothly-0-app-hover-background: var(--smoothly-0-secondary-color);
	--smoothly-0-app-hover-color: var(--smoothly-0-secondary-contrast);
	--smoothly-0-app-shadow: var(--smoothly-0-primary-shadow);
}

smoothly-0-app[color=secondary] {
	--smoothly-0-app-background: var(--smoothly-0-secondary-shade);
	--smoothly-0-app-color: var(--smoothly-0-secondary-contrast);
	--smoothly-0-app-hover-background: var(--smoothly-0-primary-color);
	--smoothly-0-app-hover-color: var(--smoothly-0-primary-contrast);
	--smoothly-0-app-shadow: var(--smoothly-0-secondary-shadow);
}

smoothly-0-app[color=tertiary],
smoothly-0-app[color=success],
smoothly-0-app[color=warning],
smoothly-0-app[color=danger] {
	--smoothly-0-app-background: var(--smoothly-0-color-shade);
	--smoothly-0-app-color: var(--smoothly-0-color-contrast);
	--smoothly-0-app-hover-background: var(--smoothly-0-default-shade);
	--smoothly-0-app-hover-color: var(--smoothly-0-default-contrast);
	--smoothly-0-app-shadow: var(--smoothly-0-color-shadow);
}

smoothly-0-app>smoothly-0-notifier>header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	height: 5rem;
	background-color: rgb(var(--smoothly-0-app-background));
	color: rgba(var(--smoothly-0-medium-color));
	fill: rgb(var(--smoothly-0-medium-color));
	stroke: rgb(var(--smoothly-0-medium-color));
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 5px 0 rgba(var(--smoothly-0-app-shadow));
	border-bottom: 1px solid rgba(var(--smoothly-0-dark-color));
}

smoothly-0-app>smoothly-0-notifier>header a {
	color: inherit;
	text-decoration: inherit;
}

smoothly-0-app>smoothly-0-notifier>header>nav {
	width: 100%;
	flex-shrink: 2;
}

smoothly-0-app>smoothly-0-notifier>header>h1,
smoothly-0-app>smoothly-0-notifier>header>nav,
smoothly-0-app>smoothly-0-notifier>header>nav>ul,
smoothly-0-app>smoothly-0-notifier>header>nav>ul li,
smoothly-0-app>smoothly-0-notifier>header>nav>ul li>*:not(a) {
	display: flex;
	height: 100%;
	margin: 0;
}

smoothly-0-app>smoothly-0-notifier>header>h1 {
	margin-left: 3.8rem;
}

smoothly-0-app>smoothly-0-notifier>header>h1>a {
	overflow: hidden;
	user-select: none;
	height: 200%;
	display: flex;
	align-self: center;
	size: 100%;
	background-position-y: center;
}

smoothly-0-app>smoothly-0-notifier>header>nav>ul>li a {
	line-height: 1.6cm;
}

smoothly-0-app>smoothly-0-notifier>header>nav>ul {
	width: 100%;
}

smoothly-0-app>smoothly-0-notifier>header>[slot=header] {
	margin-right: 2.1rem;
	border: 0;
}

smoothly-0-app>smoothly-0-notifier>header>[slot=header]>a {
	display: flex;
	border-width: 0;
	align-items: center;
	margin-right: 3.9rem;
}

smoothly-0-app>smoothly-0-notifier>header>[slot=header]>a>smoothly-0-icon {
	fill: rgb(var(--smoothly-0-primary-shade));
	stroke: rgb(var(--smoothly-0-primary-shade));
	color: rgb(var(--smoothly-0-primary-shade));
}

smoothly-0-app>smoothly-0-notifier>header>nav>ul li a {
	display: flex;
	height: 2.3rem;
	margin: 0 0.4cm;
	text-decoration: none;
}

smoothly-0-app>smoothly-0-notifier>header>nav>ul li>a {
	display: flex;
	align-items: center;
	align-self: center;
	margin-bottom: 2px;
}

smoothly-0-app>smoothly-0-notifier>header>nav>ul li smoothly-0-trigger.sc-smoothly-0-trigger-h {
	border: 0;
}

smoothly-0-app>smoothly-0-notifier>header>nav>ul li>a>smoothly-0-icon>svg {
	fill: rgb(var(--smoothly-0-medium-color));
	stroke: rgb(var(--smoothly-0-medium-color));
	color: rgb(var(--smoothly-0-medium-color));
	align-items: center;
	display: flex;
}

smoothly-0-app>smoothly-0-notifier>header>nav>ul li>a:hover>smoothly-0-icon>svg,
smoothly-0-app>smoothly-0-notifier>header>nav>ul li>a.active>smoothly-0-icon>svg {
	color: rgb(var(--smoothly-0-app-color));
	stroke: rgb(var(--smoothly-0-app-color));
	fill: rgb(var(--smoothly-0-app-color));
}

smoothly-0-app>smoothly-0-notifier>header>nav>ul li>smoothly-0-trigger.active a>smoothly-0-icon,
smoothly-0-app>smoothly-0-notifier>header>nav>ul li>smoothly-0-trigger:hover a>smoothly-0-icon,
smoothly-0-app>smoothly-0-notifier>header>nav>ul li a:hover,
smoothly-0-app>smoothly-0-notifier>header>nav>ul li a.active {
	border-bottom: 2px solid rgb(var(--smoothly-0-app-color));
	margin-bottom: 0px;
	border-bottom-width: 2px;
	color: rgb(var(--smoothly-0-app-color));
	stroke: rgb(var(--smoothly-0-app-color));
	fill: rgb(var(--smoothly-0-app-color));
}

smoothly-0-app>smoothly-0-notifier>main {
	position: relative;
	top: 5rem;
}
