:host>div {
	position: relative;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.15em 0.6em;
	border-radius: 2em;
	color: rgb(var(--smoothly-default-contrast));
}

:host([shape=rectangle])>div {
	border-radius: 0.3em;
}

.disabled {
	color: rgb(var(--smoothly-default-contrast), 0.33);
}

:host>div smoothly-button {
	color: rgb(var(--smoothly-default-contrast));
	margin: auto 0;
	width: 0;
	transition: width 300ms;
}

.clicked smoothly-button,
.submit smoothly-button,
:host>div:hover smoothly-button {
	width: 1.2em;
}
