$time: 2s;
:host:not([active]) {
	display: none;
}
:host[hidden] {
	display: none;
}
:host {
	display: block;
	stroke: rgb(var(--spinner-color, var(--smoothly-primary-tint)));
	position: absolute;
	z-index: 4;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--background-color, var(--smoothly-default-color)), var(--background-opacity, var(--smoothly-semitransparent, 0.8)));
	svg {
		position: absolute;
		left: calc(50% - var(--size) / 2);
		top: calc(50% - var(--size) / 2);
		width: var(--size);
		animation: SPINNER-ROTATE $time linear infinite;
		path {
			transform-origin: center;
			animation: SPINNER-DRAW $time alternate infinite;
			stroke-dasharray: 60 120;
			stroke-dashoffset: 59.5;
		}
	}
}
@keyframes SPINNER-ROTATE {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes SPINNER-DRAW {
	0% {
		stroke-dashoffset: 59.5;
	}
	40% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: -105;
	}
}
