@import "../shared.css";

:host {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
	background-color: rgb(var(--smoothly-input-background));
	color: rgb(var(--smoothly-input-foreground));
	fill: rgb(var(--smoothly-input-foreground));
	stroke: rgb(var(--smoothly-input-foreground));
}

:host.icon {
	width: fit-content;
	flex-direction: column;
}

:host>div.select-display {
	box-sizing: border-box;
	min-height: 2.7em;
	display: flex;
	cursor: default;
	padding: .7em;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	gap: 1em;
	text-overflow: ellipsis;
}

:host>div.select-display smoothly-icon {
	color: rgb(var(--smoothly-input-foreground));
	fill: rgb(var(--smoothly-input-foreground));
	stroke: rgb(var(--smoothly-input-foreground));
}

:host>div.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: .4em;
}

:host>div.icons::slotted(smoothly-icon) {
	color: rgb(var(--smoothly-input-foreground));
	fill: rgb(var(--smoothly-input-foreground));
	stroke: rgb(var(--smoothly-input-foreground));
	filter: opacity(60%);

}

:host:hover>div.icons::slotted(smoothly-icon) {
	filter: opacity(100%);
}


:host>div.icons::slotted(smoothly-input-reset) {
	padding-right: .2em;
}

:host::slotted([slot=label]) {
	position: absolute;
	left: 0.4em;
	top: 0.6em;
	opacity: 0.8;
	transform-origin: top left;
	transition: transform 100ms ease;
}

:host.has-value::slotted([slot=label]),
:host:not(.has-value)[placeholder]::slotted([slot=label]) {
	top: 0.4em;
	transform: scale(0.6);
}

:host.has-value:has([slot=label])>div.select-display,
:host:not(.has-value)[placeholder]>div.select-display {
	overflow: hidden;
	width: 100%;
}

:host:not([in-calendar]).has-value:has([slot=label])>div.select-display,
:host:not([in-calendar]):not(.has-value)[placeholder]>div.select-display {
	padding-bottom: .1em;
	padding-left: .8em;
	padding-top: 1.1em;
}

:host>.options {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: var(--element-height);
	z-index: 10;
	max-height: var(--menu-height, unset);
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(var(--smoothly-input-background));
	left: 0;
	right: 0;
}

:host[looks=border]>div.options {
	border: rgb(var(--smoothly-input-border, var(--smoothly-color-contrast))) solid 1px;
	border-top: rgba(var(--smoothly-input-border, var(--smoothly-color-contrast)), .4) solid 1px;
	left: -1px;
	right: -1px;
}

:host[looks="grid"]>div.options {
	border: rgba(var(--smoothly-input-border, var(--smoothly-color-contrast)), .5) solid 2px;
	border-top: rgba(var(--smoothly-input-border, var(--smoothly-color-contrast)), .2) solid 2px;
	left: -2px;
	right: -2px;
}

:host>div.options::slotted(smoothly-item) {
	padding: .7em;
}

:host>div.options::slotted(smoothly-item:not([selectable])) {
	display: flex;
	gap: 1em;
	background-color: rgba(var(--smoothly-primary-tint), .5);
	color: var(--smoothly-color-contrast)
}

:host>div.options>smoothly-item:not([selectable])>smoothly-icon[name="backspace-outline"] {
	margin-left: auto;
	margin-right: 0;
}

:host>div.options.hidden {
	display: none;
}
