@import "../shared.css";

:host {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
}

:host.icon {
	width: fit-content;
	flex-direction: column;
}

:host>main,
:host>main>* {
	height: 100%;
	display: flex;
	align-items: center;
	cursor: default;
}

:host.icon>main,
:host.icon>main>* {
	padding: 0.5em;
}

:host>div>nav {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 10;
	height: var(--menu-height, unset);
	overflow-y: scroll;
}

:host>aside {
	position: absolute;
	top: 0;
	left: 5em;
	z-index: 10;
	background-color: rgb(var(--smoothly-tertiary-color));
	color: rgb(var(--smoothly-tertiary-contrast));
	height: 1.25rem;
	border-radius: 0.3rem;
	padding: 0.3rem;
	display: flex;
	align-items: center;
}

:host().missing>aside {
	background-color: rgb(var(--smoothly-warning-color));
	color: rgb(var(--smoothly-warning-contrast));
}

.hidden {
	display: none;
}

:host>section {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}
