@import "../shared.css";

:host {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
	background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
}

:host.icon {
	width: fit-content;
	flex-direction: column;
}

:host>.select-display {
	box-sizing: border-box;
	min-height: 2.7em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: default;
	padding: .7em ;
	position: relative;
}
:host>.select-display>.selected-value {
	overflow: hidden;
	white-space: preserve
}
:host>.icons {
	display:flex;
	flex-direction: row;
	align-items: center;
	padding-right: .4em;
}
:host>.icons::slotted(smoothly-input-reset) {
	padding-right: .2em;
}

:host::slotted([slot=label]) {
	position: absolute;
	left: 0.4em;
	top: 0.6em;
	opacity: 0.8;
	transform-origin: top left;
	transition: transform 100ms ease;
}

:host.has-value::slotted([slot=label]),
:host:not(.has-value)[placeholder]::slotted([slot=label]) {
	top: 0.4em;
	transform: scale(0.6);
}

:host.has-value:has([slot=label]) .select-display,
:host:not(.has-value)[placeholder] .select-display  {
 padding-bottom: 0;
 padding-left: .8em;
 padding-top: 1em;
}

:host>.options {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 2.7em;
	z-index: 10;
	max-height: var(--menu-height, unset);
	width: 100%;
	overflow-y: auto;
	background-color: rgb(var(--smoothly-default-shade));
}

:host[looks=border] .options {
	transform: translateX(-1px);
	border: rgb(var(--text-color, var(--smoothly-color-contrast))) solid 1px;
	border-top: rgba(var(--text-color, var(--smoothly-color-contrast)), .4) solid 1px;
}

:host[looks="grid"] .options {
	transform: translateX(-2px);
	border: rgba(var(--text-color, var(--smoothly-color-contrast)), .5) solid 2px;
	border-top: rgba(var(--text-color, var(--smoothly-color-contrast)), .2) solid 2px;
}

:host>.options::slotted(smoothly-item){
	padding: .7em;
}

:host>.options::slotted(smoothly-item.non-selectable) {
	display: flex;
	gap: 1em;
	background-color: rgba(var(--smoothly-primary-tint), .5);
	color: var(--smoothly-color-contrast)
}

:host>.options>smoothly-item.non-selectable>smoothly-icon[name="backspace-outline"] {
	margin-left: auto;
	margin-right: 0;
}

:host>.options.hidden {
	display: none;
}

:host>section {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

