:host {
	display: block;
}
:host[hidden] {
	display: none;
}
select {
	min-width: 1.5em;
	padding-top: 0.5em;
	border: 1px solid rgb(var(--smoothly-color-shade));
	-webkit-appearance: none;
	background-color: rgb(var(--smoothly-dark-contrast));
	color: rgb(var(--smoothly-dark-color));
	padding: 0.3em;
}
select > option {
	background-color: inherit;
}
select:focus {
	outline: none;
}
