:host {
	display: block;
}
:host[hidden] {
	display: none;
}
select {
	min-width : 1.5em;
	padding-top: 0.5em;
	border: none;
	-webkit-appearance: none;
	background-color: rgb(var(--smoothly-color));
	padding: .3em;
}
select > option {
	background-color: inherit;
}
select:focus {
	outline: none;
}
