:host {
	display: flex;
	align-items: center;
	gap: 0.2em;
	position: relative;
	background-color: rgb(var(--background-color));
}

:host > div {
	width: 100%;
	padding: 0 0.4em 0 0.4em;
}

label {
	position: absolute;
	left: 0;
	top: 0.8em;
	user-select: none;
	cursor: inherit;
	color: rgb(var(--text-color, var(--smoothly-default-contrast)));
	opacity: 0.8;
	transform-origin: top left;
	transition: transform 100ms ease;
	display: flex;
	align-items: center;
	gap: 0.3em;
	padding: 0 0.4em 0 0.4em;
	width: calc(90%); 
}

label smoothly-icon {
	opacity: 0.8;
	flex-shrink: 0;
}

.focus {
	top: 0.4em;
	transform: scale(0.6);
}

span {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
