@import "../input/shared.css";

:host {
	display: flex;
	position: relative;
	width: max-content;
	padding: 1em 0.7em 0.2em 0.8em;
	background-color: rgb(var(--smoothly-input-background));
}

:host>smoothly-slot-elements {
	white-space: nowrap;
}

:host>smoothly-slot-elements.selected {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 2px;
}

:host>smoothly-slot-elements.selected::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 2ch;
}

:host:not([looks=transparent])>smoothly-slot-elements.selected::after {
	background: linear-gradient(90deg, rgba(var(--smoothly-input-background), 0) 0%, rgba(var(--smoothly-input-background), 1) 100%);
}

:host>smoothly-slot-elements.selected>* {
	display: none;
}

:host>span.label {
	position: absolute;
	left: 0.4rem;
	top: 0.6rem;
	color: rgb(var(--smoothly-input-foreground));
	opacity: 0.8;
	user-select: none;
	cursor: inherit;
	transform-origin: top left;
	transition: transform 100ms ease;
}

:host>smoothly-slot-elements.selected:not(:empty)+span.label {
	top: 0.4em;
	transform: scale(0.6);
}
