@import "../input/shared.css";

:host {
	display: flex;
	position: relative;
	width: max-content;
	padding: 1.2em 0.7em 0.2em 0.8em;
	background-color: rgb(var(--background-color));
}
:host:not([open]) smoothly-picker-menu {
	display: none;
}
smoothly-slot-elements {
	white-space: nowrap;
}
.selected {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 2px;
}
.selected::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 2ch;
	background: linear-gradient(90deg, rgba(var(--background-color), 0) 0%, rgba(var(--background-color), 1) 100%);
}
.selected * {
	display: none;
}
.label {
	position: absolute;
	left: 0.4rem;
	top: 0.6rem;
	color: rgb(var(--text-color, var(--smoothly-default-contrast)));
	opacity: 0.8;
	user-select: none;
	cursor: inherit;
	transform-origin: top left;
	transition: transform 100ms ease;
}
.selected:not(:empty) + .label {
	top: 0.4em;
	transform: scale(0.6);
}
