
reorder-group > * {
	cursor: move;
	transition: transform 0.3s;
}
reorder-group > *.dragging {
	transition: none !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	z-index: 10;
	user-select: none;
}
