:host>details>summary {
	list-style: none;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

:host>details>summary>smoothly-icon {
	transition: transform 0.2s, opacity 0.1s;
	opacity: 0.3;
}

:host:hover details>summary>smoothly-icon {
	opacity: 1;
}

:host>details[open]>summary>smoothly-icon {
	transform: rotate(90deg);
}

:host>details>summary::slotted([slot=summary]) {
	margin: 0;
}

:host>details::slotted([slot=content]) {
	margin: 0;
	padding: 0.5rem 1.75rem;
}

@media screen and (min-width: 900px) {
	:host>details>summary:hover {
		cursor: pointer;
	}
}
