:host {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.3rem;
}

:host>details {
	display: contents;
}

:host>details>summary {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1/-1;
	list-style: none;
	align-items: center;
	cursor: pointer;
}

:host>details>summary>smoothly-icon {
	transition: transform 0.2s, opacity 0.1s;
	opacity: 0.3;
}

:host>details>summary:hover>smoothly-icon {
	opacity: 1;
}

:host>details[open]>summary>smoothly-icon {
	transform: rotate(90deg);
}

:host>details::slotted([slot=content]) {
	grid-column: 2;
}

@media (prefers-reduced-motion) { 
	:host>details>summary>smoothly-icon {
		transition: none;
	}
}
 /* chromium specific */
@supports selector(details::details-content) {
	:host>details::details-content {
		grid-column: 2;
	}
}
