@import "../shared.css";

:host {
	position: relative;
	max-width: 100vw;
	background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
}
:host[looks=transparent] smoothly-input {
	outline: none;
}
:host > nav {
	position: absolute;
	z-index: 10;
	top: 3.5em;
	background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
	min-width: 18em;
}
:host > div {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
:host > nav > div.arrow {
	position: absolute;
	z-index: 9;
	transform: translate(2em, -0.55em) rotate(45deg);
	width: 1em;
	height: 1em;
	background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
}

@media screen and (min-width: 400px){
	:host > nav {
		position: absolute;
		z-index: 10;
		top: 3.5em;
		background-color: rgb(var(--background-color, var(--smoothly-color-shade)));
		max-width: 22em;
		
	}
}
