@import "../shared.css";

:host {
	display: flex;
	position: relative;
	max-width: 100vw;
	background-color: rgb(var(--smoothly-input-background));
	box-sizing: border-box;
	min-height: var(--input-min-height);
}

:host:not(:focus-within):not(.has-value) smoothly-date-text:not(.has-text) {
	visibility: hidden;
}

:host>.label {
	left: var(--input-padding-side);
}
:host[show-label] > smoothly-date-text {
	margin-inline: var(--input-padding-side) auto;
	margin-block: var(--input-value-padding-top) var(--input-value-padding-bottom);
}
:host:not([show-label]) > smoothly-date-text {
	margin-inline: var(--input-padding-side) auto;
	margin-block: auto;
}

:host>smoothly-input {
	width: 100%;
	--input-min-height: calc(var(--input-min-height) - 2px);
}

:host:not([readonly])>smoothly-input>div>input {
	cursor: pointer;
}

:host[disabled],
:host[disabled]>smoothly-input>div>input {
	cursor: not-allowed;
}

:host[looks=transparent] smoothly-input {
	outline: none;
}

:host>smoothly-calendar {
	position: absolute;
	z-index: 10;
	top: 4rem;
	background-color: rgb(var(--smoothly-input-background));
	min-width: 18rem;
	max-width: 22rem;
}

:host>smoothly-calendar::before {
	content: "";
	position: absolute;
	left: 2rem;
	top: -0.55rem;
	z-index: 9;
	transform: rotate(45deg);
	width: 1rem;
	height: 1rem;
	background-color: rgb(var(--smoothly-input-background));
	border-top: 1px solid rgb(var(--smoothly-input-border));
	border-left: 1px solid rgb(var(--smoothly-input-border));
}

:host>span.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
}
