@import "../shared.css";

:host {
	display: flex;
	position: relative;
	max-width: 100vw;
	background-color: rgb(var(--smoothly-input-background));
	box-sizing: border-box;
	min-height: var(--input-min-height);
}

:host>smoothly-input {
	width: 100%;
	--input-min-height: calc(var(--input-min-height) - 2px);
}

:host>smoothly-input>div>input {
	cursor: pointer;
}

:host[readonly],
:host[readonly]>smoothly-input>div>input {
	cursor: not-allowed;
}

:host[looks=transparent] smoothly-input {
	outline: none;
}

:host>nav {
	position: absolute;
	z-index: 10;
	top: 4em;
	background-color: rgb(var(--smoothly-input-background));
	min-width: 18em;
}

:host>nav>smoothly-calendar::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 1px;
	z-index: 9;
	transform: translate(2em, -0.55em) rotate(45deg);
	width: 1em;
	height: 1em;
	background-color: rgb(var(--smoothly-input-background));
	border-top: 1px solid rgb(var(--smoothly-input-border));
	border-left: 1px solid rgb(var(--smoothly-input-border));
}

:host>span.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: .2em;
}

@media screen and (min-width: 400px) {
	:host>nav {
		position: absolute;
		z-index: 10;
		top: 4em;
		background-color: rgb(var(--smoothly-input-background));
		max-width: 22em;
	}
}
