:host {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0.7em 1em;
	margin-left: 1px;
	margin-right: 1px;
	background-color: transparent;
	position: relative;
}
:host([data-highlight]) {
	background-color: rgb(var(--smoothly-0-default-shade));
}
:host > div.name {
	padding-left: 0.5em;
	flex-shrink: 1;
	width: 100%;
}
:host([divider]) {
	margin-bottom: 0.5em;
}
::slotted([slot=right]) {
	font-style: italic;
	white-space: nowrap;
}
:host([divider])::after {
	position: absolute;
	height: 1px;
	width: 100%;
	left: 0;
	bottom: -0.25em;
	content: "";
	background-color: rgba(var(--smoothly-0-dark-color));
}
::slotted([slot=hint]) {
	display: flex;
	align-items: center;
	gap: 1ch;
	font-style: italic;
	white-space: nowrap;
}
