:host {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1em;
}

:host([data-highlight]) {
	background-color: rgb(var(--smoothly-secondary-tint));
}
