:host {
	position: relative;
	border: 1px solid rgb(var(--smoothly-medium-tint));
	margin-left: 1rem;
	background-color: rgb(var(--smoothly-input-background));
	margin-right: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

:host::slotted([slot=bar]) {
	pointer-events: auto;
	margin-left: 0.3rem;
	margin-right: 0.3rem;

	&>[looks="plain"] {
		display: flex;
		align-self: stretch;
		align-items: center;
	}
}

:host>div:empty+smoothly-icon {
	display: none;
}

:host>smoothly-icon {
	cursor: pointer;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	flex-shrink: 0;
}

:host>div.close {
	position: fixed;
	z-index: var(--smoothly-z-index-popover, 300);
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background: transparent;
}

:host>div.hidden {
	display: none;
}

:host>.container {
	padding: 2em;
	position: absolute;
	right: 0.35rem;
	width: fit-content;
	display: flex;
	justify-content: center;
	top: 100%;
	border: 1px solid rgb(var(--smoothly-medium-tint));
	border-radius: 0.25rem;
	width: fit-content;
	z-index: var(--smoothly-z-index-popover, 300);
	background-color: rgb(var(--smoothly-color));
	margin: 0.8rem -2rem;
}

/* arrow */
:host>div.container::before {
	content: "";
	width: 0.6rem;
	height: 0.6rem;
	transform: rotate(45deg);
	border-top: 1px solid rgb(var(--smoothly-medium-tint));
	border-left: 1px solid rgb(var(--smoothly-medium-tint));
	background-color: rgb(var(--smoothly-color));
	position: absolute;
}

/* arrow placement */
:host>div.container.arrow-top::before {
	right: 2.2rem;
	top: -0.3rem;
}
