:host {
	position: relative;
	border: 1px solid rgb(var(--smoothly-medium-tint));
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

:host>div::slotted([slot=detail]) {
	z-index: 5;
}

:host::slotted([slot=bar]) {
	pointer-events: auto;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

:host>div:empty+smoothly-icon {
	display: none;
}

:host>smoothly-icon {
	cursor: pointer;
	flex-shrink: 0;
}

.close {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background: transparent;
}

.hidden {
	display: none;
}

:host>.container {
	padding: 2em;
	position: absolute;
	right: 0.35em;
	width: fit-content;
	display: flex;
	justify-content: center;
	top: 100%;
	width: fit-content;
	z-index: 4;
	background-color: rgb(var(--smoothly-color));
	margin: 0.8em -2em;
}

/* arrow */
.container:before {
	content: "";
	width: 0.6em;
	height: 0.6em;
	transform: rotate(45deg);
	border-top: 1px solid rgb(var(--smoothly-medium-tint));
	border-left: 1px solid rgb(var(--smoothly-medium-tint));
	background-color: rgb(var(--smoothly-color));
	position: absolute;
	z-index: 3;
}

/* arrow placement */
.container.arrow-top:before {
	left: calc(91%);
	top: -5px;
}

.container:after {
	content: "";
	height: 100%;
	width: 100%;
	border: 1px solid rgb(var(--smoothly-medium-tint));
	border-radius: 0.25em;
	position: absolute;
	top: 0;
	left: 0;
}
