:host([selected]) {
	background-color: rgb(var(--smoothly-input-selected));
	color: rgb(var(--smoothly-input-selected-contrast));
	--marked-color: var(--smoothly-input-selected-contrast);
}

:host {
	padding: 0.5em;
	cursor: pointer;
	border: rgb(var(--smoothly-input-border) solid 1px);
	color: rgb(var(--smoothly-input-foreground));
	fill: rgb(var(--smoothly-input-foreground));
	stroke: rgb(var(--smoothly-input-foreground));
	position: relative;
	--marked-color: var(--smoothly-input-foreground);
}

:host::slotted(*) {
	color: rgb(var(--smoothly-input-foreground));
	fill: rgb(var(--smoothly-input-foreground));
	stroke: rgb(var(--smoothly-input-foreground));
}

:host([marked])::before,
:host:hover::before {
  content: "";
	position: absolute;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border: 2px solid rgb(var(--marked-color));
  inset: 2px;
  box-sizing: border-box;
}
