:host[size] {
	background: none;
}
:host {
	display: flex;
	align-items: center;
	justify-content: center;
}
:host[rotate] {
	--rotate: rotate(var(--rotation, 0deg));
	transform: var(--rotate);
}
:host[flip=x] {
	--flip: scaleX(-1);
	transform: var(--flip);
}
:host[flip=y] {
	--flip: scaleY(-1);
	transform: var(--flip);
}
:host[rotate][flip] {
	transform:var(--rotate)var(--flip);
}
:host[hidden] {
	display: none;
}
:host[size=tiny] {
	width: 1.2em;
	height: 1.2em;
}
:host[size=small] {
	width: 1.4em;
	height: 1.4em;
}
:host[size=medium] {
	width: 1.8em;
	height: 1.8em;
}
:host[size=large] {
	width: 2.8em;
	height: 2.8em;
}
:host[size=xlarge] {
	width: 4em;
	height: 4em;
}
:host::slotted(svg) {
	/* this is needed for svg to work on safari */
	width: 100%;
}
