:host {
	display: block;
}
:host[hidden] {
	display: none;
}
button {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	padding: .2em .3em;
	font-size: 110%;
	font-weight: 400;
}
:host[processing] > button {
	color: rgb(var(--smoothly-light-contrast));
	background: rgb(var(--smoothly-light-color));
	border-color: rgb(var(--smoothly-light-color));
}
:host:not([color])
:host[color="primary"] {
	--smoothly-trigger-color: var(--smoothly-primary-color);
	--smoothly-trigger-contrast: var(--smoothly-primary-contrast);
	--smoothly-trigger-shadow: var(--smoothly-primary-shadow);
}
:host[color="secondary"] {
	--smoothly-trigger-color: var(--smoothly-secondary-color);
	--smoothly-trigger-contrast: var(--smoothly-secondary-contrast);
	--smoothly-trigger-shadow: var(--smoothly-secondary-shadow);
}
:host[color="tertiary"] {
	--smoothly-trigger-color: var(--smoothly-tertiary-color);
	--smoothly-trigger-contrast: var(--smoothly-tertiary-contrast);
	--smoothly-trigger-shadow: var(--smoothly-tertiary-shadow);
}
:host[color="success"] {
	--smoothly-trigger-color: var(--smoothly-success-color);
	--smoothly-trigger-contrast: var(--smoothly-success-contrast);
	--smoothly-trigger-shadow: var(--smoothly-success-shadow);
}
:host[color="warning"] {
	--smoothly-trigger-color: var(--smoothly-warning-color);
	--smoothly-trigger-contrast: var(--smoothly-warning-contrast);
	--smoothly-trigger-shadow: var(--smoothly-warning-shadow);
}
:host[color="danger"] {
	--smoothly-trigger-color: var(--smoothly-danger-color);
	--smoothly-trigger-contrast: var(--smoothly-danger-contrast);
	--smoothly-trigger-shadow: var(--smoothly-danger-shadow);
}
:host[color="light"] {
	--smoothly-trigger-color: var(--smoothly-light-color);
	--smoothly-trigger-contrast: var(--smoothly-light-contrast);
	--smoothly-trigger-shadow: var(--smoothly-light-shadow);
}
:host[color="medium"] {
	--smoothly-trigger-color: var(--smoothly-medium-color);
	--smoothly-trigger-contrast: var(--smoothly-medium-contrast);
	--smoothly-trigger-shadow: var(--smoothly-medium-shadow);
}
:host[color="dark"] {
	--smoothly-trigger-color: var(--smoothly-dark-color);
	--smoothly-trigger-contrast: var(--smoothly-dark-contrast);
	--smoothly-trigger-shadow: var(--smoothly-dark-shadow);
}
:host {
	display: block;
	--smoothly-trigger-foreground: rgb(var(--smoothly-trigger-contrast));
	--smoothly-trigger-background: rgb(var(--smoothly-trigger-color));
	--smoothly-trigger-border: rgb(var(--smoothly-trigger-shadow));
}
:host[fill=clear] {
	--smoothly-trigger-foreground: rgb(var(--smoothly-trigger-color));
	--smoothly-trigger-background: transparent;
	--smoothly-trigger-border: transparent;
}
:host[fill=fill] {
	--smoothly-trigger-foreground: rgb(var(--smoothly-trigger-contrast));
	--smoothly-trigger-background: rgb(var(--smoothly-trigger-color));
	--smoothly-trigger-border: rgb(var(--smoothly-trigger-color));
}
:host[fill=outline] {
	--smoothly-trigger-foreground: rgb(var(--smoothly-trigger-color));
	--smoothly-trigger-background: transparent;
	--smoothly-trigger-border: rgb(var(--smoothly-trigger-color));
}
:host:not([processing]) > button {
	color: var(--smoothly-trigger-foreground);
	background: var(--smoothly-trigger-background);
	border-color: var(--smoothly-trigger-border);
}
:host:not([processing]):hover > button,
:host:not([processing]):focus > button,
:host:not([processing]):active > button {
	border-color: var(--smoothly-trigger-border);
}
:host[expand=fill] > button,
:host[expand=block] > button {
	width: 100%;
}
:host[expand=fill] > button {
	border-left: none;
	border-right: none;
}
