button {
	width: 100%;
	border: 2px solid green;
	border-radius: 3px;
	color: white;
	padding: .5em;
	font-family: "Open Sans", "Arial Narrow", Arial, sans-serif;
	font-size: 110%;
	font-weight: 400;
}
button:not([processing]) {
	background: green;
}
button[processing] {
	background: lightgray;
}
button:active {
	background: lightgreen;
	border: 2px lightgreen solid;
}
button:focus {
	border: 2px lightgreen solid;
}
