@import "../../assets/common.css";

button {
	width: 100%;
	border: 1px solid var(--smoothly-success-color);
	border-radius: 3px;
	color: white;
	padding: .2em;
	font-size: 110%;
	font-weight: 400;
}
button:not([processing]) {
	background: var(--smoothly-success-color);
}
button[processing] {
	background: lightgray;
}
button:active {
	background: var(--smoothly-success-color-shadow);
	border: 1px var(--smoothly-success-color-shadow) solid;
}
button:focus {
	border: 1px var(--smoothly-success-color-shadow) solid;
}
