:host{
	margin:1em;
}
button{
	padding:none;
	border: none;
	position: relative;
	width: 4em;
	height: 2em;
	border-radius: 3em;
	background-color: rgb(var(--smoothly-primary-color));
	cursor: pointer;
}
smoothly-icon{
	position: relative;
	fill: white;
	stroke: white;
	font-size: 110%;
	float: right;
}
:host(:not([selected])) smoothly-icon{
	float: left;
}
:host([selected]) > button{
	background-color: rgb(var(--smoothly-success-color));
}
:host([disabled]) {
	opacity: 0.5;
	pointer-events: none;
}
