:host{
	margin:1em;
}

button{
	border: none;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 3em;
	background-color: rgb(var(--smoothly-default-shade));
	box-shadow: inset 0.05em 0.05em 0.5em 0.2em rgba(105, 103, 103, 0.25);
	cursor: pointer;
}

.circle{
	margin-top: 2%;
	content: "";
	position: absolute;
	height: 87%;
	width: 43%;
	background-color: rgb(var(--smoothly-default-color));
	box-shadow: inset 0.05em 0.05em 0.2em 0.3em rgba(187, 184, 184, 0.1);
	border-radius: 3em;
}

:host(:not([selected])) > button > .circle{
	left:5%;
	background-color: rgb(var(--smoothly-default-color));
}
:host([selected]) > button{
	background-color: rgb(var(--smoothly-success-color));
}
:host([selected]) > button > .circle {
	left: 52%
}
:host([disabled]) {
	opacity: 0.5;
	pointer-events: none;
}
