:host {
	display: grid;
	grid-template-columns: repeat(var(--columns), auto);
	color: rgb(var(--smoothly-table-foreground));
	stroke: rgb(var(--smoothly-table-foreground));
	fill: rgb(var(--smoothly-table-foreground));
	box-sizing: border-box;
	max-width: 80rem;
	width: 100%;
	margin: auto;
	padding: 2rem;
}

:host .smoothly-table-functional-row {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	box-sizing: border-box;
	border-style: solid;
	border-color: rgb(var(--smoothly-table-foreground)) transparent transparent transparent;
	border-width: 1px 1px 0 1px;
}
:host .smoothly-table-functional-row:has(.smoothly-table-functional-row-detail.smoothly-open) {
	background-color: rgb(var(--smoothly-table-expanded-background));
	border-color: rgb(var(--smoothly-table-foreground));
}
:host .smoothly-table-functional-row:has(>:not(.smoothly-table-functional-row-detail):hover)>:not(.smoothly-table-functional-row-detail) {
	background-color: rgb(var(--smoothly-table-hover-background));
}

:host .smoothly-table-functional-row .smoothly-table-functional-cell {
	display: flex;
	align-items: center;
	padding: 0.3rem 1.1rem;
	white-space: nowrap;
	cursor: pointer;
}

:host .smoothly-table-functional-row .smoothly-table-functional-row-detail {
	background-color: rgb(var(--smoothly-table-expanded-background));
	grid-column: 1 / -1;
	display: none;
	grid-template-rows: auto 0fr 0fr;
	position: relative;
}

:host .smoothly-table-functional-row .smoothly-table-functional-row-detail.smoothly-open {
	display: block;
	grid-template-rows: auto 1fr 0fr;
}

:host .smoothly-table-functional-row-detail.smoothly-open::before {
	content: "";
	position: absolute;
	display: flex;
	box-sizing: border-box;
	top: 0;
	bottom: -1px;
	left: -1em;
	width: 1em;
	background-color: rgb(var(--smoothly-table-expanded-background));
	border-style: solid;
	border-color: rgb(var(--smoothly-table-foreground));
	border-width: 1px 0 1px 1px;
	border-left: 0.3em solid rgb(var(--smoothly-table-detail-border, var(--smoothly-table-border)));
	box-shadow: 2px 0px 0px 0px rgb(var(--smoothly-table-expanded-background)),
		0px 0px 1px 0px rgb(var(--smoothly-table-border));
}
:host .smoothly-table-functional-row-detail.smoothly-open::after {
	content: "";
	position: absolute;
	display: flex;
	top: 0;
	bottom: -1px;
	right: -1em;
	width: 1em;
	background-color: rgb(var(--smoothly-table-expanded-background));
	border-style: solid;
	border-color: rgb(var(--smoothly-table-foreground));
	border-width: 1px 1px 1px 0;
}




