:host {
	display: block;
}
:host[hidden] {
	display: none;
}
span {
	display: inline;
}
smoothly-trigger {
	float: right;
}
.hidden {
	display: none;
}
div {
	padding: 10px;
}
div.warning {
	border-left: 5px solid rgb(var(--smoothly-warning-shade));
	background-color: rgb(var(--smoothly-warning-tint));
}
div.success {
	border-left: 5px solid rgb(var(--smoothly-success-shade));
	background-color: rgb(var(--smoothly-success-tint));
}
div.danger {
	border-left: 5px solid rgb(var(--smoothly-danger-shade));
	background-color: rgb(var(--smoothly-danger-tint));
}
div.default {
	border-left: 5px solid rgb(var(--smoothly-primary-shade));
	background-color: rgb(var(--smoothly-primary-tint));
}
