:host {
	width: min(100%, 20rem, 100vw);
	display: flex;
	 overflow-x: auto;
	justify-content: space-between;
	outline: 2px solid orange;
	padding: 0.5rem;
	scrollbar-width: none; /* Firefox */
}
:host::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome, Safari) */
}


:host > div {
	padding: 0.5rem 1rem;
	outline: 2px solid red;
	flex: 0 0 auto;
	overflow: hidden;
}

:host > div.selected {
	flex: 1 0 auto;
}
