:host {
	cursor: text;
}

/* Ska vara egen fil */
:host {
	font-weight: var(--smoothly-font-weight);
	background-color: rgb(var(--background-color));
	color: rgb(var(--text-color, var(--smoothly-default-contrast)));
	width: 100%;
}

.input-container {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 0.4em;
	padding: 1.1em 0.6em 0.3em 0.6em;
	cursor: inherit;
	position: relative;
}

:host[placement="start"] .input-container {
	padding: 0.75em 0.6em;
}

:host[layout="plain"] .input-container {
	border: none
}

:host[layout="border"] .input-container {
	border: rgb(var(--smoothly-default-contrast)) solid 1px;
}

:host[layout="line"] .input-container {
	border-bottom: rgb(var(--smoothly-default-contrast)) solid 1px;
}

:host[layout="grid"] .input-container {
	border: rgba(var(--smoothly-default-contrast), .5) solid .5px;
}

label {
	cursor: inherit;
	color: rgb(var(--text-color, var(--smoothly-default-contrast)));
	user-select: none;
	font-weight: 600;
	
}

:host[placement="top"] label {
	position: absolute;
	left: 0.3em;
	top: 0em;
	transform: scale(0.8);
}

:host[placement="float"] label {
	position: absolute;
	left: 0.5em;
	top: 50%;
	transform: translateY(-50%);
	transform-origin: top left;
	transition:0.15s ease all; 
  -moz-transition:0.15s ease all; 
  -webkit-transition:0.15s ease all;
}

:host[placement="float"][focused] label, :host[placement="float"][value] label  {
	top: 0.1em;
	transform: scale(0.8);
}

:host([readonly][editable]) > div > smoothly-icon, :host([value][clearable]) > div > smoothly-icon  {
	cursor: pointer;
	transition: 0.6s;
	opacity: 0.6
}

:host([readonly][editable]) > div > smoothly-icon:hover, :host([value][clearable]) > div > smoothly-icon:hover  {
	opacity: 1
}
