:host {
	display: flex;
	flex-direction: row;
}

:host>smoothly-input-select {
	display: flex;
	width: 100%;
	gap: 0.5rem;
}

:host[looks=line],
:host[looks=border],
:host[looks=transparent] {
	gap: 2em;
}

:host:not([previous])>smoothly-button:first-of-type,
:host:not([next])>smoothly-button:last-of-type {
	display: none;
}
