:host {
	display: flex;
	justify-content: space-between;
	font-size: large;
}
smoothly-icon {
	font-size: 0.7em;
}

:host > div {
	display: flex;
	align-items: end;
	padding-bottom: 0.3em;
}

:host {
	padding-top: 0em !important;
}

:host {
	cursor: pointer
}

:host smoothly-input-select:hover {
	cursor: pointer;
}
