:host {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

:host>smoothly-input-select:last-of-type {
	display: flex;
	width: 100%;
}

:host[looks=line],
:host[looks=border],
:host[looks=transparent] {
	gap: 2em;
}

:host:not([previous])>smoothly-button:first-of-type,
:host:not([next])>smoothly-button:last-of-type {
	display: none;
}
