* {
	box-sizing: border-box;
}

:host {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: max-content;
	margin: 0.3rem 0;
	line-height: 0;
}

label {
	margin-right: 0.5em;
}

:host > div {
	border: 1px solid rgb(var(--smoothly-color-contrast));
}

smoothly-icon {
	display: flex;
	justify-content: center;	
	align-items: center;
}

.outline {
	stroke: rgb(var(--smoothly-color-contrast));
	opacity: 1;
	transition: opacity 200ms ease-in-out;
}

.hidden {
	opacity: 0;
}

:host[disabled] > div {
	border: 1px solid rgb(var(--smoothly-color-contrast), 0.3);
}


