:host {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox {
	cursor: pointer;
	stroke: rgb(var(--smoothly-color-contrast));
	height: 100% !important;
	transform: translate(0%, 10%)
}

:host[disabled] smoothly-icon {
	stroke: rgba(var(--smoothly-color-contrast), 0.3);
}


