@import "../shared.css";

:host {
	background-color: rgb(var(--smoothly-input-background));
	display: flex;
	align-items: center;
	flex-basis: 100%;
}
:host>div {
	position: relative;
	padding: 1.1em .7em .2em .7em;
}
:host>div>label {
	left: -.5em;
	top: 0;
	opacity: 0.8;
	transform: scale(0.6);
	position: absolute
}
:host>div,
:host>div>div.options {
	display: flex;
	gap: 1.5em;
}
:host::slotted([slot=end]) {
	margin-right: 0;
	margin-left: auto;
}

:host::slotted([slot=end]) button {
	padding: 0;
}

:host[readonly] smoothly-input-radio-item * {
	cursor: not-allowed;
}
