@import "../shared.css";

:host {
	background-color: rgb(var(--smoothly-input-background));
	display: flex;
	align-items: center;
	padding: 0 var(--input-padding-side);
	box-sizing: border-box;
}
:host[show-label]>div {
	position: relative;
	padding: var(--input-value-padding-top) 0 var(--input-value-padding-bottom) 0;
}
:host>div,
:host>div>div.options {
	display: flex;
	gap: 1.5rem;
}
:host::slotted([slot=end]) {
	margin-right: 0;
	margin-left: auto;
}

:host::slotted([slot=end]) button {
	padding: 0;
}

:host[readonly] smoothly-input-radio-item * {
	cursor: not-allowed;
}
