:host {
	display: block;
}
:host[hidden] {
	display: none;
}
smoothly-trigger {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1.5em;
}
aside {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 2.5em;
}
aside.warning {
	background-color: rgb(var(--smoothly-warning-tint));
}
aside.success {
	background-color: rgb(var(--smoothly-success-tint));
}
aside.danger {
	background-color: rgb(var(--smoothly-danger-tint));
}
aside.default {
	background-color: rgb(var(--smoothly-primary-tint));
}
