:host:not([open]) > label {
	background-color: rgb(var(--smoothly-dark-shade));
}
.hide {
	display: none;
}
label {
	display: block;
	padding: 1em;
	background-color: rgb(var(--smoothly-default-shade));
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	width: 6.25rem;
}
div {
	background-color: rgb(var(--smoothly-default-shade));
	padding: 1em;
}
