:host {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	top: 0;
	position: sticky;
	z-index: 1;
	--smoothly-color: var(--smoothly-table-header-background);
	--smoothly-color-contrast: var(--smoothly-table-header-foreground);
	background-color: rgb(var(--smoothly-table-header-background));
	color: rgb(var(--smoothly-table-header-foreground));
	stroke: rgb(var(--smoothly-table-header-foreground));
	fill: rgb(var(--smoothly-table-header-foreground));
	font-weight: bold;
}
