:host {
	display: flex;
}
:host(:not([display])) {
	display: none;
}
:host::slotted(smoothly-button button > * > * + smoothly-icon),
:host::slotted(smoothly-button-confirm button > * > * + smoothly-icon) {
	display: none;
}

