@import "../../button/style.css";

:host([type="button"]) {
	margin: 1em 0em;
}

:host(:not([display])) {
	display: none;
}

:host() {
	transition: 0.6s;
	margin: 0rem;
	min-width: 0rem;
}

:host > * + smoothly-icon {
	display: none;
}
