:host {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	margin-bottom: 10rem;
}

:host .select-div-row {
	display: flex;
}

:host .select-div-row smoothly-input {
 flex: 1;
}

smoothly-input-demo-standard {
	margin-bottom: 2rem;
}

div.inputs {
	margin: auto;
	width: 50%;
}

div.inputs>h2:not(:first-child) {
	padding-top: 3em;
	margin-top: 3em;
	border-top: 1px solid black;
}

.checkbox-group {
	display: flex;
	gap: 1.5em;
	align-items: center;
	background-color: rgb(var(--smoothly-input-background));
}

.select-div {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	flex-wrap: wrap;
}

.select-div>smoothly-color>*,
.select-div>* {
	flex-basis: 49%;
}
