@import '../input.css';

:host {
	cursor: text;
}

.select-wrapper {
	position: relative;
}

:host:not([filterable]), :host:not([filterable]) smoothly-input-base {
	cursor:  pointer;
}

.dropdown {
	position: absolute;
	top: calc(100% + 0.1em);
	left: -1px;
	z-index: 99999;
	width: calc(100% + 2px);
	background-color: rgb(var(--smoothly-default-color));
	box-shadow: var(--smoothly-shadow);
	max-height: 19em;
	overflow-y: auto;
}

.option {
	padding: 0.5em;
	cursor: pointer;
}

.option:hover {
	color: rgb(var(--smoothly-primary-contrast));
	background-color: rgb(var(--smoothly-primary-tint));
}

.selected {
	color: rgb(var(--smoothly-primary-contrast));
	background-color: rgb(var(--smoothly-primary-color));
}

.focused {
	color: rgb(var(--smoothly-primary-contrast));
	background-color: rgb(var(--smoothly-primary-tint));
}

:host[placement="float"][filter]:not([filter=""]) label  {
	top: 0.2em;
	transform: scale(0.85);
}
