:host {
	color: rgb(var(--smoothly-table-foreground));
	stroke: rgb(var(--smoothly-table-foreground));
	fill: rgb(var(--smoothly-table-foreground));
}

:host:not(.stacked) {
	display: grid;
	grid-template-columns: repeat(var(--columns), auto);
}

:host:not(.stacked) .smoothly-cell-header {
	display: none;
}


/* STACKED */

:host(.stacked) {
	display: grid;
}
:host(.stacked) smoothly-table-head {
	display: none;
}
:host(.stacked)>smoothly-table-body {
	row-gap: 1.5rem; /* css-var */
}
