:host {
	display: grid;
	grid-template-columns: repeat(var(--columns), auto);
	color: rgb(var(--smoothly-table-foreground));
	stroke: rgb(var(--smoothly-table-foreground));
	fill: rgb(var(--smoothly-table-foreground));
}

/* :host smoothly-table smoothly-table-head {
	top: var(--smoothly-table-cell-min-height);
	z-index: 2;
	background-color: green;
}
:host smoothly-table smoothly-table-head smoothly-table smoothly-table-head {
	top: calc(var(--smoothly-table-cell-min-height) * 2);
	z-index: 2;
	background-color: red;
}

:host smoothly-table smoothly-table-head:nth-child(2) {
	top: calc(var(--smoothly-table-cell-min-height) * 2);
	z-index: 2
} */
