:host {
	color: rgb(var(--smoothly-table-foreground));
	stroke: rgb(var(--smoothly-table-foreground));
	fill: rgb(var(--smoothly-table-foreground));
}

:host:not(.stacked) {
	display: grid;
	grid-template-columns: repeat(var(--columns), auto);
}

:host:not(.stacked) .smoothly-cell-header {
	display: none;
}


/* STACKED */

:host(.stacked) {
	display: grid;
}
:host(.stacked) smoothly-table-head {
	display: none;
}
:host(.stacked)>smoothly-table-body {
	row-gap: 2rem;
}

:host(.stacked)>smoothly-table-body>smoothly-table-expandable-row {
	/* border: 1px solid orange; */
	border-radius: 0.5rem;
}
