:root {
	--smoothly-font-family: "Open Sans", "Arial Narrow", Arial, sans-serif;
	--smoothly-background-color: 255, 255, 255;
	--smoothly-text-color: 46, 52, 54;
	--smoothly-text-tint: 136, 138, 133;
	--smoothly-semitransparent: .8;

	--smoothly-primary-color: 13, 182, 255;
	--smoothly-primary-contrast: 242, 242, 242;
	--smoothly-primary-shade: 0, 119, 171;
	--smoothly-primary-tint: 140, 220, 255;

	--smoothly-secondary-color: 0, 40, 91;
	--smoothly-secondary-contrast: 242, 242, 242;
	--smoothly-secondary-shade: 0, 18, 41;
	--smoothly-secondary-tint: 0, 72, 163;

	--smoothly-tertiary-color: 0, 225, 233;
	--smoothly-tertiary-contrast: 242, 242, 242;
	--smoothly-tertiary-shade: 0, 132, 136;
	--smoothly-tertiary-tint: 79, 248, 255;

	--smoothly-success-color: 115, 210, 22;
	--smoothly-success-contrast: 255, 255, 255;
	--smoothly-success-shade: 78, 154, 6;
	--smoothly-success-tint: 138, 226, 52;

	--smoothly-warning-color: 237, 212, 0;
	--smoothly-warning-contrast: 242, 242, 242;
	--smoothly-warning-shade: 196, 160, 0;
	--smoothly-warning-tint: 252, 233, 79;

	--smoothly-danger-color: 204, 0, 0;
	--smoothly-danger-contrast: 242, 242, 242;
	--smoothly-danger-shade: 164, 00, 00;
	--smoothly-danger-tint: 239, 41, 41;

	--smoothly-light-color: 211, 215, 207;
	--smoothly-light-contrast: 46, 52, 54;
	--smoothly-light-shade: 186, 189, 182;
	--smoothly-light-tint: 238, 238, 236;

	--smoothly-medium-color: 186, 189, 182;
	--smoothly-medium-contrast: 46, 52, 54;
	--smoothly-medium-shade: 136, 138, 133;
	--smoothly-medium-tint: 211, 215, 207;

	--smoothly-dark-color: 85, 87, 83;
	--smoothly-dark-contrast: 238, 238, 236;
	--smoothly-dark-shade: 46, 52, 54;
	--smoothly-dark-tint: 136, 138, 133;
}
