:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	padding-bottom: 10rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.content {
	display: contents;
}

smoothly-lazy {
	width: 80%;
}
