:host {
	display: flex;
	justify-content: space-between;
	font-size: large;
}
button {
  border: none;
	background: none;
	cursor: pointer;
  font-size: large;
}
smoothly-icon {
	font-size: smaller;
}
