button {
  border: none;
	background: none;
	cursor: pointer;
  font-size: large;
}

:host {
	font-size: large;
	display: grid;
	grid-template-columns:repeat(4, 6em);
}
smoothly-icon{
	font-size: smaller;
}
