:host {
	display: block;
	position: relative;
}
:host[hidden] {
	display: none;
}
label {
	display: block;
	width: calc(100% - 2 * .4em);
	padding: .2em .4em .2em .4em;
	color: var(--smoothly-text-tint);
}
input[type="radio"] {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100%);
	height: 100%;
	margin: 0;
	-webkit-appearance: none;
}
input[type="radio"]:checked ~ label {
	background-color: var(--smoothly-primary-color);
	color: var(--smoothly-primary-contrast);
}
