:host {
	display: table-cell;
	line-height: 1.5rem;
	white-space: nowrap;
	padding: 0.3rem 0 0.3rem 1rem;
	box-shadow: 0 1px 0 0 rgb(var(--smoothly-color-shade));
}
:host smoothly-icon {
	display: none;
	width: 1em;
	height: auto;
	aspect-ratio: 1 / 1;
	margin: 0 0.3rem;
	transition: transform 0.2s, opacity 0.1s;
	opacity: 0.3;
}
:host:hover smoothly-icon {
	opacity: 1;
}
smoothly-table-expandable-row > div :host:last-of-type smoothly-icon {
	display: flex;
}
smoothly-table-expandable-row[open] > div :host:last-of-type smoothly-icon {
	transform: rotate(90deg);
}
:host > div {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-between;
}
:host > div > div {
	width: 100%;
}
smoothly-table[align=bottom] :host {
	vertical-align: bottom;
}
smoothly-table[align=middle] :host {
	vertical-align: middle;
	text-align: left;
}
smoothly-table[align=top] :host {
	vertical-align: top;
}
