:host {
	display: table-row-group;
	cursor: pointer;
}
:host[open] {
	position: relative;
	z-index: 3;
	background-color: rgb(var(--smoothly-default-color));
	border: 2px solid rgb(var(--smoothly-dark-color));
	border-bottom: none;
}
:host smoothly-icon {
	width: 0.6rem;
	height: 1rem;
	position: absolute;
	right: 1rem;
	top: -1.6rem;
	transition: transform 0.2s;
}
:host[open] smoothly-icon {
	transform: rotate(90deg);
}

aside {
	display: table-row;
	position: relative;
}

.hide {
	display: none;
}
.slot-detail {
	position: relative;
	background-color: rgb(var(--smoothly-default-color));
	width: 104%;
	left: -2%;
	border-left-style: solid;
	border-left-color: rgb(var(--smoothly-tertiary-color));
	box-shadow: 0px 0px 4px 2px rgb(var(--smoothly-dark-color));
	box-sizing: border-box;
	padding: 0.5rem 2%;
}

