@import "../arrow.scss";

:host {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: auto 0fr;
	box-shadow: 0px 1px 1px -1px rgb(var(--smoothly-table-border));
}

:host>a { 
	display: contents;
}

:host::slotted(:not(.detail)):not(a),
:host>::slotted(a>*) {
	cursor: pointer;
	grid-column: span var(--smoothly-table-cell-span, 1);
	display: flex;
	align-items: center;
	padding: 0.3rem 1.1rem;
	white-space: nowrap;
}

:host:has(>:not(:last-child):hover),
:host>a:has(>:not(:last-child):hover) {
	background-color: rgb(var(--smoothly-table-hover-background));
	color: rgb(var(--smoothly-table-hover-foreground));
}

:host[open] {
	background-color: rgb(var(--smoothly-table-expanded-background));
	color: rgb(var(--smoothly-table-expanded-foreground));
	grid-template-rows: auto 1fr;
	box-shadow: 0px 1px 1px -1px rgb(var(--smoothly-table-border)),
		0px 0px 1px rgb(var(--smoothly-table-border)) inset;
	grid-template-rows: 0fr 1fr;
}

:host(:not([open]))>div.detail {
	display: none;
}

:host>div:last-child {
	grid-column: 1 / -1;
	cursor: default;
	position: relative;
	overflow: hidden;
	background-color: rgb(var(--smoothly-table-expanded-background));
	color: rgb(var(--smoothly-table-expanded-foreground));
}

:host> :first-child,
:host>a> :first-child {
	@include arrow;
}

:host:has(>:hover)> :first-child,
:host>a:has(>:hover)> :first-child {
	@include arrow-hover;
}

:host[open]> :first-child,
:host[open]>a>:first-child {
	@include arrow-open;
}

:host[open]>div:last-child {
	overflow: visible;
	padding: 0.3rem 1.1rem;
}

:host>div:last-child::before {
	content: "";
	position: absolute;
	display: flex;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	left: -1em;
	width: 1em;
	background-color: rgb(var(--smoothly-table-expanded-background));
	border-left: 0.3em solid rgb(var(--smoothly-table-detail-border, var(--smoothly-table-border)));
	box-shadow: 2px 0px 0px 0px rgb(var(--smoothly-table-expanded-background)),
		0px 0px 1px 0px rgb(var(--smoothly-table-border));
}

:host>div:last-child::after {
	content: "";
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	right: -1em;
	width: 1em;
	background-color: rgb(var(--smoothly-table-expanded-background));
	box-shadow: -2px 0px 0px 0px rgb(var(--smoothly-table-expanded-background)),
		0px 0px 1px 0px rgb(var(--smoothly-table-border));
}
