:host {
	display: table-row;
	cursor: pointer;
	line-height: 1.5rem;
}
:host[open] {
	position: relative;
	z-index: 3;
	background-color: rgb(var(--smoothly-default-color));
}
:host[open]::slotted(*) smoothly-table-cell,
:host[open]::slotted(smoothly-table-cell) {
	box-shadow: 0 1px 0 0 rgb(var(--smoothly-light-shade)) inset;	
}
:host[open]::slotted(*) smoothly-table-cell:first-child {
	box-shadow: 0 1px 0 0 rgb(var(--smoothly-light-shade)) inset, 1px 0 0 0 rgb(var(--smoothly-light-shade)) inset;
}
:host[open]::slotted(*) smoothly-table-cell:last-child {
	box-shadow: 0 1px 0 0 rgb(var(--smoothly-light-shade)) inset, -1px 0 0 0 rgb(var(--smoothly-light-shade)) inset;
}
:host[open]::slotted(*) smoothly-table-cell:last-child:first-child {
	box-shadow: 0 1px 0 0 rgb(var(--smoothly-light-shade)) inset, 1px 0 0 0 rgb(var(--smoothly-light-shade)) inset, -1px 0 0 0 rgb(var(--smoothly-light-shade)) inset;
}

.hide {
	display: none;
}
:host > tr > td {
	position: relative;
}
td::slotted(*) {
	--expansion-width: 1.5rem;
	--expansion-border-width: 3px;
	position: relative;
	background-color: rgb(var(--smoothly-default-color));
	width: calc(100% + 3rem - 2px);
	left: calc(-1 * var(--expansion-width) + 1px);
	box-sizing: border-box;
	padding: 0.5rem calc(var(--expansion-width) - 1px);
	border-bottom: 1px solid rgb(var(--smoothly-light-shade));
}
tr.spotlight > td::slotted(*) {
	box-shadow: calc(var(--expansion-border-width)) 0px 0px 0px rgb(var(--smoothly-tertiary-color)) inset;
}
tr:not(.spotlight) > td::slotted(*) {
	box-shadow: -1px 0 0 0 rgb(var(--smoothly-light-shade)), 1px 0 0 0 rgb(var(--smoothly-light-shade));
}
td::slotted(*)::before {
	content: "";
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	left: -1px;
	width: calc(var(--expansion-width) + 1px);
	border-top: 1px solid rgb(var(--smoothly-light-shade));
}
td::slotted(*)::after {
	content: "";
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	right: 0;
	width: calc(var(--expansion-width) - 1px);
	border-top: 1px solid rgb(var(--smoothly-light-shade));
	border-right: 1px solid rgb(var(--smoothly-light-shade));
}
:host::slotted(*) smoothly-table-cell:last-of-type > div > smoothly-icon:last-of-type,
:host::slotted(smoothly-table-cell:last-of-type) > div > smoothly-icon:last-of-type {
	display: flex;
}
:host[open]::slotted(*) smoothly-table-cell:last-of-type > div > smoothly-icon:last-of-type,
:host[open]::slotted(smoothly-table-cell:last-of-type) > div > smoothly-icon:last-of-type {
	transform: rotate(90deg);
}
