smoothly-0-accordion-item {
	border: 1px solid rgb(var(--smoothly-0-dark-color));
	border-bottom: none;
}

smoothly-0-accordion-item:first-of-type {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-top: 0.4em;
}

smoothly-0-accordion-item:last-of-type {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid rgb(var(--smoothly-0-dark-color));
	margin-bottom: 0.6em;
}

smoothly-0-accordion-item[open] {
	border-color: rgb(var(--smoothly-0-primary-color));
	border-bottom: 1px solid rgb(var(--smoothly-0-primary-color));
}

smoothly-0-accordion-item[open]+smoothly-0-accordion-item {
	border-top: none;
}
