:host {
	--menu-offset-top: 0.3em;
	--menu-offset-right: 0.3em;
	--item-padding: 0.5em 1em;
	position: relative;
	a.active smoothly-icon, 
	a:hover smoothly-icon {
		fill: rgb(var(--smoothly-default-shade));
		stroke: rgb(var(--smoothly-default-shade));
	}

	.background {
		position: absolute;
		right: 0;
		top: 0;
		height: 100vh;
		width: 100vw;
	}

	& > div:not(.background) {
		margin-top: var(--menu-offset-top);
		position: absolute;
		z-index: 5;
		right: var(--menu-offset-right);
		min-width: 10em;
		border-radius: 0.2em;
		white-space: nowrap;
		background-color: rgb(var(--smoothly-default-shade));
		box-shadow: var(--smoothly-shadow);
		& > div {
			font-style: italic;
			padding: var(--item-padding);
			color: rgba(var(--smoothly-default-contrast), 0.6);
		}
		ul {
			padding: 0;
			list-style-type: none;
			li {
				font-weight: bold;
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				padding: var(--item-padding);
				align-items: center;
				&:hover {
					background-color: rgb(var(--smoothly-primary-color));
					color: rgb(var(--smoothly-primary-contrast));
					smoothly-icon {
						fill: rgb(var(--smoothly-primary-contrast));
					}
				}
			}
			&::slotted(li a) {
				line-height: normal;
				width: 100%;
				padding: var(--item-padding);
				box-sizing: border-box;
			}
		}
	}
}

:host:not([is-open]) > div {
	display: none;
}

@media only screen and (max-width: 1250px) {
	a > smoothly-icon:nth-child(2) {
		display: none;
	}
}

div:not(.background) ul::slotted(*), 
a > smoothly-icon:nth-child(1) {
	display: none;
}

@media only screen and (max-width: 1250px) {
	div:not(.background) ul::slotted(*), 
	a > smoothly-icon:nth-child(1) {
		display: block;
	}
}
:host[is-open] > div {
  animation-duration: 0.2s;
  animation-name: slidein;
}
:host:not([is-open]) > div {
	display: none;
}

@keyframes slidein {
  from {
		transform: translateX(100%);
		opacity: 0;
  }

  to {
		opacity: 1;
  }
}
