:host {
	display: table-cell;
	padding: 0.3rem 0 0.3rem 0;
	cursor: pointer;
	line-height: 1.5rem;
	border-bottom: 1px solid rgb(var(--smoothly-0-dark-color));
}

:host[open] {
	position: relative;
	z-index: 3;
	background-color: rgb(var(--smoothly-0-default-color));
	box-shadow: -1px 0 0 rgb(var(--smoothly-0-dark-color)) inset,
		1px 0 0 rgb(var(--smoothly-0-dark-color)) inset;
	border-bottom: none;
}

:host smoothly-0-icon {
	width: 0.6rem;
	float: left;
	padding: 0 0.3rem;
	transition: transform 0.2s;
	display: flex;
	height: 100%;
	align-self: center;
}

:host[open] smoothly-0-icon {
	transform: rotate(90deg);
}

aside {
	display: flex;
}

.hide {
	display: none;
}

td::slotted(*) {
	--expansion-width: 1.5rem;
	--expansion-border-width: 3px;
	position: relative;
	background-color: rgb(var(--smoothly-0-default-color));
	width: calc(100% + 3rem - var(--expansion-border-width));
	left: calc(-1 * var(--expansion-width));
	border-left: var(--expansion-border-width) solid rgb(0, 0, 0, 0);
	box-shadow: 0px 0px 4px 2px rgb(var(--smoothly-0-dark-color));
	box-sizing: border-box;
	padding: 0.5rem calc(var(--expansion-width) - var(--expansion-border-width));
	border-bottom: 1px solid rgb(var(--smoothly-0-dark-color));
	border-left-width: 3px;
}

tr.spotlight>td::slotted(*) {
	border-left-color: rgb(var(--smoothly-0-tertiary-color));
}

td::slotted(*)::before {
	content: "";
	position: absolute;
	display: flex;
	top: -1px;
	bottom: 0;
	left: -3px;
	width: calc(var(--expansion-width) + 1px);
	border-top: 1px solid rgb(var(--smoothly-0-dark-color));
}

td::slotted(*)::after {
	content: "";
	position: absolute;
	display: flex;
	top: -1px;
	bottom: 0;
	right: 0;
	width: calc(var(--expansion-width) -1px);
	border-top: 1px solid rgb(var(--smoothly-0-dark-color));
}
