:host {
	display: table-cell;
	padding-left: 0.5em;
	vertical-align: middle;
}
.hide {
	display: none;
}
:host[open] {
	background-color: rgb(var(--smoothly-color-shade));
}
.slot-detail {
	position: relative;
	background-color: rgb(var(--smoothly-color-shade));
	width: 108%;
	left: calc(-54% + 50%);
	border-left-style: solid;
	border-left-color: rgb(var(--smoothly-tertiary-color));
}
