:host {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.5em;
	cursor: pointer;
	padding: 0.2em 0 0.2em;
	border-style: solid solid none solid;
	border-width: 2px;
	border-color: rgb(var(--smoothly-default-color));
}
.hide {
	display: none;
}
:host[open] {
	position: relative;
	z-index: 3;
	background-color: rgb(var(--smoothly-default-color));
	border-style: solid solid none solid;
	border-width: 2px;
	border-color: rgb(var(--smoothly-dark-color));
}
.slot-detail {
	position: relative;
	background-color: rgb(var(--smoothly-default-color));
	width: 104%;
	left: calc(-52% + 50%);
	border-left-style: solid;
	border-left-color: rgb(var(--smoothly-tertiary-color));
	box-shadow: 0px 0px 5px 4px rgb(var(--smoothly-dark-color), 0.5);
	box-sizing: border-box;
	padding: 0.5em 2%;
}
:host smoothly-icon {
	width: 0.6em;
	height: 1em;
	float:left;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.5em;
	transition: transform 0.2s;
}
:host[open] smoothly-icon {
	transform: rotate(90deg);
}
