name: "Publish"

on:
  push:
    tags:
      - "release-*"
permissions:
  contents: read
  id-token: write   # Required for OIDC
jobs:
  publish:
    name: "Publish"
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout source code"
        uses: "actions/checkout@v3"
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          registry-url: "https://registry.npmjs.org"
      - uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: node_modules-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
      - name: Publish
        run: npm publish --provenance --access public
